# Vatech API Gateway - OpenAPI 3.0 (설계 초안)
#
# 작성: scp-architecture 초안 -> baseline 시 vt-api-gateway/docs/specs/design/로 PR 이관.
# 구현 착수 후에는 NestJS code-first(@nestjs/swagger) /api-docs 산출물이 정본이 된다.
#
# 범위: GW 고유 API(A버킷)만 정의(§4.1.1). Webhook 수신 엔드포인트 포함(§4.1.3).
#       외부 payload는 $ref/스냅샷 참조, MQTT 분배는 OpenAPI 밖(AsyncAPI/규약 문서).
openapi: 3.0.3
info:
  title: Vatech API Gateway
  version: 0.0.0
  description: >-
    설계 초안(placeholder). 인증·enrollment·디바이스 레지스트리·region resolve·
    upload session·Webhook 수신·관리 API(§7) 정의 예정.
servers:
  - url: https://api-gateway.vatech.com
    description: 제안(§4.5.1, DNS 확정 전 TBD)

paths:
  # --- Webhook 수신 (A버킷, §7.6 / §4.1.3) ---
  /webhooks/{provider}:
    post:
      summary: 외부 이벤트 Webhook 수신(단일 진입)
      description: >-
        외부 플랫폼(AXS 등) 이벤트를 단일 수신한다. 검증(HMAC·IP·timestamp)·
        멱등(eventId) 후 즉시 2xx ACK, 분배는 내부 큐 위임(§7.6.3).
        payload 본문은 provider 외부 스키마(④ + AXS 스냅샷) 참조 - 여기서 재정의하지 않음.
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
            enum: [axs]   # 지원 provider. 미지원 -> 404
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEnvelope'
      responses:
        '200':
          description: 수신 ACK(처리는 비동기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '400':
          description: 페이로드 형식 오류
        '401':
          description: 서명 불일치 / IP 미허용 / timestamp 만료
        '404':
          description: 미지원 provider

components:
  schemas:
    WebhookEnvelope:
      type: object
      description: >-
        GW가 검증·라우팅에 사용하는 최상위 공통 필드만 정의. 실제 이벤트 본문(payload)은
        provider 외부 스키마이므로 opaque(object) 또는 외부 $ref로 둔다(§4.1.3-2).
      required: [eventId, eventType]
      properties:
        eventId:
          type: string
          description: 멱등 키(중복 수신 dedup, §7.6.4)
        eventType:
          type: string
          description: 이벤트 유형(분배 라우팅 키)
        payload:
          type: object
          description: provider별 외부 스키마(④/AXS 스냅샷 참조). GW 재정의 금지.
    WebhookAck:
      type: object
      properties:
        received:
          type: boolean
        eventId:
          type: string
