# Vatech API Gateway - OpenAPI 3.0 (설계 초안)
#
# 작성: scp-architecture 초안 -> baseline 시 vt-api-gateway/docs/specs/design/로 PR 이관.
# 구현 착수 후에는 NestJS code-first(@nestjs/swagger) /api-docs 산출물이 정본이 된다.
#
# 시드 출처: "VT API Gateway - API 명세·데이터 모델·주권" §1 엔드포인트.
# 범위: GW 고유 API(A면 — Vatech-Target 없는 호출)만 정의(§4.1.1·ADR-11).
#       프록시(B 내부·C 외부)는 Vatech-Target 헤더로 라우팅되는 verbatim bypass이며 OpenAPI에 정의하지 않는다
#       (레지스트리 config + upstream OpenAPI 정본). §4.1.2 참조.
# 필드는 camelCase, 시간은 Unix ms(SRS §1.3). 상세 스키마는 LLD에서 확정.
openapi: 3.0.3
info:
  title: Vatech API Gateway
  version: 0.0.0
  description: >-
    설계 초안. GW 고유 API(A면 — Vatech-Target 없는 호출, §4.1.1·ADR-11)만 정의. 파일 업로드: GW는 presigned 발급 안 함 — CleverSpace(경로②)·AXS(경로③) 발급, GW 중계(§4.1.4·§7.4). 프록시(B 내부·C 외부)는 Vatech-Target 헤더로 라우팅되는 verbatim bypass이며 본 파일에 정의하지 않는다 — CleverSpace presign=경로②(Vatech-Target: cleverspace, CS OpenAPI 정본), AXS presign/파일=경로③(Vatech-Target: axs, ④). 라우팅 규칙은 §4.1.2.
servers:
- url: https://gw.vatech.com
  description: 제안(§4.5.1, DNS 확정 전 TBD)

tags:
- name: auth
  description: 인증·토큰 (SRS §7.1)
- name: enrollment
  description: 온보딩 (SRS §7.2)
- name: devices
  description: 디바이스 레지스트리·lifecycle (SRS §7.2)
- name: region
  description: 리전 해석 (SRS §7.3)
- name: webhooks
  description: 외부 이벤트 수신·분배 (SRS §7.6)
- name: compatibility
  description: API 버전 호환성 공시 (SRS §7.7)
- name: admin
  description: 관리·감사 API (SRS §7.8·§7.9, ③-C Console이 호출)

paths:
  # --- 인증·토큰 (§7.1) ---
  /v1/auth/token:
    post:
      tags: [ auth ]
      summary: 디바이스 client_credentials → JWT 발급 (FR-AUTH-01/02)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: 발급된 access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: secret 불일치 / 미등록·revoked 디바이스
        '403':
          description: scope 초과

  /v1/auth/oneid/verify:
    post:
      tags: [ auth ]
      summary: OneID(OIDC) 토큰 검증·연계 — 사람·클리닉·사내 호출자 (FR-AUTH-08)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneIdVerifyRequest'
      responses:
        '200':
          description: 검증된 신원 + 디바이스 인증면 매핑
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneIdVerifyResponse'
        '401':
          description: OneID 검증 실패 / 매핑 부재

  # --- 온보딩 (§7.2) ---
  /v1/enroll/start:
    post:
      tags: [ enrollment ]
      summary: enrollment 시작 → nonce challenge (FR-ENR-01/03)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollStartRequest'
      responses:
        '200':
          description: nonce challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollChallenge'
        '401':
          description: 부트스트랩 신뢰 검증 실패

  /v1/enroll/complete:
    post:
      tags: [ enrollment ]
      summary: 서명+fingerprint 검증 → 자격 발급(allowlist 등록) (FR-ENR-01/04)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCompleteRequest'
      responses:
        '200':
          description: 발급된 디바이스 자격증명(참조)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '401':
          description: 서명·fingerprint·이상탐지 거부

  # --- 디바이스 레지스트리 (§7.2) ---
  /v1/devices:
    get:
      tags: [ devices ]
      summary: 디바이스 목록 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
    post:
      tags: [ devices ]
      summary: 디바이스 등록 (FR-DEV-01)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
      responses:
        '201':
          description: 등록됨

  /v1/devices/{id}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags: [ devices ]
      summary: 디바이스 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404':
          description: 없음
    patch:
      tags: [ devices ]
      summary: lifecycle 상태 전이 (FR-DEV-03, pending→active→suspended→revoked)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/DeviceStatus'
      responses:
        '200':
          description: 갱신됨

  # --- 리전 해석 (§7.3) ---
  /v1/region/resolve:
    get:
      tags: [ region ]
      summary: device/clinic → region 해석 (FR-RGN-01/02/06)
      parameters:
      - name: deviceId
        in: query
        schema:
          type: string
      - name: clinicId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: 매핑 리전 endpoint + 주권 정책
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResolveResponse'

  # --- 파일 업로드: GW 고유 API 없음 ---
  # presigned 발급 주체 = CleverSpace(경로②)·AXS(경로③). GW는 발급 요청을 Vatech-Target proxy로 중계(bypass)만 하며 서명·세션·storage를 갖지 않는다(§4.1.4·§7.4 · ADR-03/04 철회).

  # --- 프록시(B 내부·C 외부)는 본 OpenAPI에 정의하지 않는다 (§4.1.1·§4.1.2·ADR-11) ---
  # 라우팅 = Vatech-Target 헤더(논리 ID enum, 예 cleverspace/axs) → 레지스트리 allowlist→host 해석.
  # GW는 클라이언트가 친 upstream 경로를 host만 바꿔 verbatim 전달(요청/응답 body 그대로). 경로를 GW가 정의/변환하지 않음.
  #   - 경로②(B): Vatech-Target: cleverspace — CleverSpace OpenAPI 정본
  #   - 경로③(C): Vatech-Target: axs — AXS OpenAPI 스냅샷 + ④ Sub-SRS 정본 (OAuth2·egress allowlist는 GW 정책)
  # Vatech-Target 없는 호출만 아래 GW 고유 API(A)로 처리된다.

  # --- Webhook 수신 (§7.6 / §4.1.3) — 경로/스키마는 provider별 등록으로 유연(아래는 기본 관례 예시). GW는 발신자 검증·라우팅만, payload 비해석 ---
  /v1/webhooks/{provider}:
    post:
      tags: [ webhooks ]
      summary: 외부 이벤트 Webhook 수신 (FR-WH-01~05) — 경로/형식 provider 수용·유연(예시)
      description: >-
        경로 `/v1/webhooks/{provider}`는 **기본 관례 예시**이며 확정 계약이 아니다 — provider별 등록으로 경로/형식이 유연하다(§4.1.3). GW는 스키마를 강제하지 않고 발신자 검증(HMAC·IP·timestamp)·멱등(eventId)·라우팅만 하며, payload는 소비자가 해석한다(opaque, ④/AXS 스냅샷 참조).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [ axs ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEnvelope'
      responses:
        '200':
          description: 수신 ACK(처리는 비동기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '400':
          description: 페이로드 형식 오류
        '401':
          description: 서명 불일치 / IP 미허용 / timestamp 만료
        '404':
          description: 미지원 provider

  # --- 호환성 공시 (§7.7) ---
  /.well-known/{env}/server-configuration.json:
    parameters:
    - name: env
      in: path
      required: true
      schema:
        type: string
    get:
      tags: [ compatibility ]
      summary: 런타임 버전·호환성 공시 (FR-COMPAT-02)
      description: 스키마·샘플은 design/well-known/ 참조. 버전 프리픽스 없이 표준 관례로 노출(§4.1.2-5)
      responses:
        '200':
          description: 서버 구성(호환성 매트릭스 공시)

  # --- 관리·감사 (§7.8·§7.9) ---
  /admin/v1/devices/{id}/kill:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    post:
      tags: [ admin ]
      summary: kill-switch(긴급 정지) (FR-FLEET-02)
      responses:
        '200':
          description: 즉시 정지됨

  /admin/v1/audit:
    get:
      tags: [ admin ]
      summary: 감사 로그 조회(경량) (FR-AUD-01)
      description: 그 외 관리자 조회(/admin/v1/*)는 LLD에서 확장. UI는 ③-C
      responses:
        '200':
          description: 감사 로그 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'

components:
  parameters:
    DeviceId:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:
    # 인증
    TokenRequest:
      type: object
      required: [ clientId, scope ]
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
          description: client_secret 또는 HW키 바인딩
        scope:
          type: string
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresAt:
          type: integer
          format: int64
          description: Unix ms
        claims:
          type: object
          description: device_id·region·aud·TTL 강제 바인딩(§7.1.1)
    OneIdVerifyRequest:
      type: object
      required: [ oneIdToken ]
      properties:
        oneIdToken:
          type: string
    OneIdVerifyResponse:
      type: object
      properties:
        identity:
          type: object
          description: 사람/클리닉/사내 호출자 신원
        deviceBinding:
          type: string
          description: 디바이스 인증면과의 매핑

    # 온보딩
    EnrollStartRequest:
      type: object
      required: [ bootstrap ]
      properties:
        bootstrap:
          type: string
          description: 공장 토큰 / OOB 일회 코드
        serial:
          type: string
    EnrollChallenge:
      type: object
      properties:
        nonce:
          type: string
        expiresAt:
          type: integer
          format: int64
    EnrollCompleteRequest:
      type: object
      required: [ nonceSignature, fingerprint ]
      properties:
        nonceSignature:
          type: string
        fingerprint:
          type: string

    # 디바이스
    DeviceStatus:
      type: string
      enum: [ pending, active, suspended, revoked ]
    Device:
      type: object
      properties:
        deviceId:
          type: string
        fingerprint:
          type: string
        region:
          type: string
        status:
          $ref: '#/components/schemas/DeviceStatus'

    Credential:
      type: object
      description: 시크릿 참조만(KMS), 평문 미노출
      properties:
        deviceId:
          type: string
        clientId:
          type: string
        secretRef:
          type: string
        hwKeyBound:
          type: boolean

    # 리전
    RegionResolveResponse:
      type: object
      properties:
        region:
          type: string
        endpoint:
          type: string
        mappingVersion:
          type: integer
        sovereigntyPolicy:
          type: object

    # Webhook
    WebhookEnvelope:
      type: object
      description: >-
        GW가 검증·라우팅에 사용하는 최상위 공통 필드만 정의. 실제 이벤트 본문(payload)은 provider 외부 스키마이므로 opaque(object) 또는 외부 $ref로 둔다(§4.1.3-2).
      required: [ eventId, eventType ]
      properties:
        eventId:
          type: string
          description: 멱등 키(중복 수신 dedup, §7.6.4)
        eventType:
          type: string
          description: 이벤트 유형(분배 라우팅 키)
        payload:
          type: object
          description: provider별 외부 스키마(④/AXS 스냅샷 참조). GW 재정의 금지.
    WebhookAck:
      type: object
      properties:
        received:
          type: boolean
        eventId:
          type: string

    # 감사
    AuditLog:
      type: object
      description: append-only
      properties:
        ts:
          type: integer
          format: int64
        actor:
          type: string
        action:
          type: string
        result:
          type: string
