# Vatech API Gateway - OpenAPI 3.0 (설계 초안)
#
# 작성: 초안 단계 산출물 -> baseline 시 vt-api-gateway/docs/specs/design/로 PR 이관.
# 구현 착수 후에는 NestJS code-first(@nestjs/swagger) /api-docs 산출물이 정본이 된다.
#
# 시드 출처: "VT API Gateway - API 명세·데이터 모델·주권" §1 엔드포인트.
# 범위: GW 고유 API(A — apex gw.vatech.com 호출)만 정의(§4.1.1·ADR-11, 7/2 R1).
#       프록시(B 내부·C 외부)는 target 서브도메인({target}.gw.vatech.com, Host/SNI)으로 라우팅되는 verbatim bypass이며 OpenAPI에 정의하지 않는다
#       (레지스트리 config + upstream OpenAPI 정본). Vatech-Target 헤더는 CleverOne→EzServer 내부 hop 키(EzServer가 서브도메인 변환). §4.1.2·§4.5.1 참조.
# 필드는 camelCase, 시간은 Unix ms(SRS §1.3). 상세 스키마는 LLD에서 확정.
# 에러 계약: 공통 Error envelope + 재사용 응답(400/401/403/404/409/429) + 프록시 GW생성 오류(502/503/504=ProxyError, §7.5.4·§7.7.4)
#   + Vatech-Error-Origin(gateway|upstream)·Retry-After 헤더. 인증=bearerAuth(JWT) 기본, 공개 ep(auth·enroll·webhook·well-known)는 security:[] 재정의.
#   (example·완전한 code-first 정합은 baseline 후 — Appendix B #6)
openapi: 3.0.3
info:
  title: Vatech API Gateway
  version: 0.0.0
  description: >-
    설계 초안. GW 고유 API(A — apex gw.vatech.com, §4.1.1·ADR-11)만 정의. 파일 업로드: GW는 presigned 발급 안 함 — CleverSpace(경로②)·AXS(경로③) 발급, GW 중계(§4.1.4·§7.4). 프록시(B 내부·C 외부)는 target 서브도메인({target}.gw.vatech.com, Host/SNI)으로 라우팅되는 verbatim bypass이며 본 파일에 정의하지 않는다 — CleverSpace presign=경로②(cleverspace.gw.vatech.com, CS OpenAPI 정본), AXS presign/파일=경로③(axs.gw.vatech.com, ④). Vatech-Target 헤더는 CleverOne→EzServer 내부 hop 키(EzServer가 서브도메인 변환). 라우팅 규칙은 §4.1.2·§4.5.1(7/2 R1).
servers:
- url: https://gw.vatech.com
  description: GW 고유 API(A) apex(§4.5.1). 프록시 target은 {target}.gw.vatech.com 서브도메인(레지스트리 등록·본 파일 미정의)

tags:
- name: auth
  description: 인증·토큰 (SRS §7.1)
- name: enrollment
  description: 온보딩 (SRS §7.2)
- name: devices
  description: 디바이스 레지스트리·lifecycle (SRS §7.2)
- name: region
  description: 리전 해석 (SRS §7.3)
- name: clinics
  description: 클리닉 관리·리전 등록/변경 (클리닉 생성·초기 region은 enroll이 흡수 §2.3.1) (SRS §7.3)
- name: regions
  description: GW 운영 리전 카탈로그·조회 (SRS §7.3.6)
- name: webhooks
  description: 외부 이벤트 수신·분배 (SRS §7.6)
- name: compatibility
  description: API 버전 호환성 공시 (SRS §7.7)
- name: fleet
  description: 디바이스 heartbeat·상태 보고 (device→GW 능동 보고, SRS §7.8.1)
- name: admin
  description: 관리·감사 API (SRS §7.8·§7.9, ③-C Console이 호출)

# 기본 인증 = bearerAuth(JWT). 공개 엔드포인트(auth·enroll·webhook·well-known)는 op에서 security:[]로 재정의.
security:
- bearerAuth: []

paths:
  # --- 인증·토큰 (§7.1) ---
  /v1/auth/token:
    post:
      tags: [ auth ]
      summary: 디바이스 client_credentials → JWT 발급 (FR-AUTH-01/02)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: 발급된 access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/oneid/verify:
    post:
      tags: [ auth ]
      summary: OneID(OIDC) 토큰 검증·연계 — 사람·클리닉·사내 호출자 (FR-AUTH-08)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneIdVerifyRequest'
      responses:
        '200':
          description: 검증된 신원 + 디바이스 인증면 매핑
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneIdVerifyResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 온보딩 (§7.2) ---
  /v1/enroll/start:
    post:
      tags: [ enrollment ]
      summary: enrollment 시작(LM 라이선스·Clinic-ID 부트스트랩) → nonce challenge (FR-ENR-01/03)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollStartRequest'
      responses:
        '200':
          description: nonce challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollChallenge'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/enroll/complete:
    post:
      tags: [ enrollment ]
      summary: 서명+공개키 검증 → 디바이스 등록(pending) + 클리닉·region 확립 (FR-ENR-01/04·FR-RGN-*)
      description: >-
        nonce 서명·공개키(clientPublicKey)를 검증하고 디바이스를 status=pending으로 등록한다.
        **enroll 요청의 Clinic-ID로 clinic을 upsert(없으면 생성)하며, region 기본값은 요청이 GeoDNS로 도달한 최근접 리전**(v1.0=서울, §2.3.1·§2.7.1) — 별도 클리닉 등록 API 불요.
        active 활성화(=인증 허용)는 C/S가 GW Console에서 승인(설치 확인 + region 확정/다른 리전 override)해야 하며,
        승인은 PATCH /v1/devices/{id}(status: active) [+ region override 시 PUT /v1/clinics/{clinicId}/region]로 수행된다(§2.3.1·§7.2.3·§7.2.5·§7.9.2).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCompleteRequest'
      responses:
        '202':
          description: >-
            등록 접수됨(status=pending · C/S 승인 대기). client_id 발급(공개키(clientPublicKey) 바인딩).
            공유 secret 없음 — 이후 private_key_jwt로 인증(§7.1.1). active 전 토큰 미발급
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  clientId: { type: string, description: 'GW가 발급한 불투명 client id(RFC 6749 §2.2·§7.2.5, 내부 식별자 비파생·비밀 아님). 이후 토큰 요청에 사용(개인키 서명으로 인증)' }
                  status: { $ref: '#/components/schemas/DeviceStatus' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 디바이스 레지스트리 (§7.2) ---
  /v1/devices:
    get:
      tags: [ devices ]
      summary: 디바이스 목록 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ devices ]
      summary: 디바이스 등록 (FR-DEV-01)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/devices/{id}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags: [ devices ]
      summary: 디바이스 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      tags: [ devices ]
      summary: lifecycle 상태 전이 (FR-DEV-03, pending→active→suspended→revoked)
      description: >-
        디바이스 lifecycle 전이. **pending→active는 C/S enrollment 승인 게이트**
        (현장 설치 담당 C/S만 승인 = 부트스트랩 신뢰 앵커, §2.3.1·§7.2.5·§7.9.2).
        모든 전이는 승인자·시각 감사(§7.9.3).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/DeviceStatus'
      responses:
        '200':
          description: 갱신됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 리전 해석 (§7.3) ---
  /v1/region/resolve:
    get:
      tags: [ region ]
      summary: device/clinic → region 해석 (FR-RGN-01/02/06)
      parameters:
      - name: deviceId
        in: query
        schema:
          type: string
      - name: clinicId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: 해석된 리전(ID·표시명·endpoint·상태)·귀결 clinicId·mappingVersion·cacheTtl·주권 정책
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResolveResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- Fleet heartbeat (§7.8.1) — device가 GW로 능동 보고(GW는 edge 폴링 불가) ---
  /v1/fleet/heartbeat:
    post:
      tags: [ fleet ]
      summary: 디바이스 heartbeat 보고 (FR-FLEET-01)
      description: >-
        device(EzServer)가 주기적으로 호출해 생존·health를 GW에 보고한다. GW는 병원 방화벽 뒤의 edge를 능동 폴링할 수 없으므로 liveness 신호는 device→GW push가 유일하다(§7.8.1). device_id는 인증 토큰 subject에서 취득하므로 본문에 넣지 않는다. GW는 수신 시각을 `fleet_state.last_heartbeat`에 기록하고, 응답으로 권장 다음 주기(nextIntervalSeconds)를 돌려준다(중앙 config §7.8.4로 조정 가능). 온라인/오프라인은 GW가 last_heartbeat의 임계값(권장 주기의 배수) 초과 여부로 파생 판정한다.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetHeartbeat'
      responses:
        '200':
          description: 수신됨(다음 heartbeat 주기 지시 포함)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetHeartbeatAck'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- Fleet config pull (§7.8.4) — device가 자기 실효 config 조회(GW는 edge 폴링 불가) ---
  /v1/fleet/config:
    get:
      tags: [ fleet ]
      summary: device 실효 중앙 config 조회 (FR-CFG-01) — gw/1.1+ 예약
      description: >-
        **gw/1.1+ 예약(v1.0 미사용).** v1.0 중앙 config는 GW-내부(`gw.*`)가 실사용이고 device로의 원격 config 전달은 §7.6.6 하행 레일의 미래 활용이다(§7.8.4 v1.0 범위). device(EzServer)가 자신에게 적용될 **실효 중앙 config**를 pull한다(§7.8.4). device_id는 인증 토큰 subject에서 취득하며, device는 **자기 스코프의 실효 config만** 조회한다(타 device 노출 금지). 실효값은 키별 가장 구체 스코프 우선(device > clinic > region > global, override 병합)으로 GW가 해석한다. heartbeat 응답의 configVersion이 device의 appliedConfigVersion과 다를 때 이 API를 호출하면 된다.
      responses:
        '200':
          description: device 실효 config(+ 버전)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetConfig'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 클리닉/클라이언트 온보딩·등록 (§2.3.1) — 매핑 자가 생성, Admin은 교정만 ---
  /v1/clinics:
    post:
      tags: [ clinics ]
      summary: 클리닉 관리 — 운영자 교정·예외적 수동 등록 (주 생성 경로는 enroll) (FR-RGN-*)
      description: >-
        **클리닉 존재·초기 region은 EzServer enroll이 자동 확립한다**(§2.3.1 — enroll이 Clinic-ID로 clinic upsert, region 기본=GeoDNS 최근접·C/S가 override). 본 엔드포인트는 **운영자(Admin/C-S, OneID 인증)의 예외적 수동 등록·교정용**이며 일상 경로가 아니다. region 변경은 `PUT /v1/clinics/{clinicId}/region`(§7.3.4·FR-RGN-04).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicRegistration'
      responses:
        '201':
          description: 등록됨 (이 클리닉 = 해당 region)
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/{clinicId}/org-bindings:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
    post:
      tags: [ clinics ]
      summary: 외부 upstream Org-ID 등록 (외부 연동 연결 시, upstream별) (FR-INT-*)
      description: >-
        클리닉이 외부 연동(예 AXS)을 켤 때 그 upstream의 Org-ID 등록 → org_mapping((upstream, Org-ID)→clinic). webhook 분배 키. Org-ID는 upstream 온보딩에서 발급(§2.3.5·④).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgBinding'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- GW 리전 카탈로그·조회 + 운영 중 리전 변경 (§7.3.6·§7.3.4) ---
  /v1/regions:
    get:
      tags: [ regions ]
      summary: GW 운영 리전 목록 조회 — 클라이언트 region 선택지 (§7.3.6)
      description: EzServer Console 등이 온보딩·운영 중 region 선택을 위해 조회. v1.0=1개, gw/1.2=N개.
      responses:
        '200':
          description: 운영 리전 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/{clinicId}/region:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
    put:
      tags: [ clinics ]
      summary: 클리닉 접속 리전 변경 (운영 중 자가 변경, FR-RGN-04)
      description: >-
        EzServer Console 등에서 운영 중 접속 GW 리전을 변경. mapping_version++ · 재동의(FR-COMP-02) · 감사 강제. 기존 PHI는 옛 리전 잔류(자동 이관 없음), 전환은 신규부터(§7.3.4).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ region ]
              properties:
                region: { type: string }
      responses:
        '200':
          description: 변경됨(재동의·감사 동반)
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 파일 업로드: GW 고유 API 없음 ---
  # presigned 발급 주체 = CleverSpace(경로②)·AXS(경로③). GW는 발급 요청을 target 서브도메인 proxy로 중계(bypass)만 하며 서명·세션·storage를 갖지 않는다(§4.1.4·§7.4 · ADR-03/04 철회).

  # --- 프록시(B 내부·C 외부)는 본 OpenAPI에 정의하지 않는다 (§4.1.1·§4.1.2·ADR-11, 7/2 R1) ---
  # 라우팅 = target 서브도메인({target}.gw.vatech.com, Host/SNI · 라벨=논리 ID) → 레지스트리 allowlist→host 해석. 미등록 라벨=404.
  # GW는 클라이언트가 친 upstream 경로를 host만 바꿔 verbatim 전달(요청/응답 body 그대로). 경로를 GW가 정의/변환하지 않음.
  #   - 경로②(B): cleverspace.gw.vatech.com — CleverSpace OpenAPI 정본
  #   - 경로③(C): axs.gw.vatech.com — AXS OpenAPI 스냅샷 + ④ Sub-SRS 정본 (OAuth2·egress allowlist는 GW 정책)
  # apex gw.vatech.com 호출만 아래 GW 고유 API(A)로 처리된다. Vatech-Target 헤더는 CleverOne→EzServer 내부 hop 키(EzServer가 서브도메인 변환).
  #
  # 프록시 에러·복원력 계약 (정본 §7.5.4·§7.7.4 — 경로가 아니라 전 프록시 공통이므로 여기 주석으로 기술):
  #   - GW→upstream 연결 timeout(connect/response/total_deadline, Upstream)=GW 책임(7/2 R4·D1~D3): GW가 upstream에 직접 연결하는 HTTP 클라이언트라 자기 호출 bound. total_deadline < 클라이언트 타임아웃.
  #   - 클라이언트 타임아웃 인지(D10): 프록시 호출 시 클라이언트가 선택적 요청 헤더 Vatech-Timeout-Ms(상대값 ms) 전송 가능 → GW가 내부 deadline=now+min(헤더, total_deadline)로 클램프(gRPC grpc-timeout 선례). 미전송 시 계약값(EzServer 30s, D4) 사용. 프록시는 verbatim이라 본 헤더는 upstream에 전달 안 함.
  #   - 재시도·서킷 브레이커=service mesh(istio) egress 담당(GW 미구현, D5~D8).
  #   - GW 정규화 오류 = ProxyError 스키마: 502 연결실패(UPSTREAM_UNREACHABLE) / 504 timeout·deadline(UPSTREAM_TIMEOUT, GW 자기 timeout) / 503 서킷·일시불가(UPSTREAM_UNAVAILABLE, mesh). 헤더 Vatech-Error-Origin: gateway.
  #     재사용 응답 정의 = components/responses/{UpstreamUnreachable(502), UpstreamUnavailable(503), UpstreamTimeout(504)} (프록시 게이트웨이 핸들러에서 사용).
  #   - upstream 자체 4xx/5xx = 원 코드·body verbatim 통과(GW 미변형). 헤더 Vatech-Error-Origin: upstream.
  #   - GW 앱레벨: 연결 timeout + 오류 정규화 + 멱등(Idempotency-Key 존중) + 클라이언트 조기 절단 시 upstream 호출 취소. 네트워크 재시도·서킷은 mesh 담당.

  # --- Webhook 수신 (§7.6 / §4.1.3) — upstream별 전용 호스트({target}.webhook.gw.vatech.com)로 식별(Host/SNI). 경로/스키마는 upstream 규약 수용·유연(아래는 예시). GW는 발신자 검증·라우팅만, payload 비해석 ---
  /v1/webhooks/{target}:
    post:
      tags: [ webhooks ]
      security: []
      summary: 외부 이벤트 Webhook 수신 (FR-WH-01~05) — upstream별 전용 호스트로 식별, 경로/형식 유연(예시)
      description: >-
        **발신자 식별 = upstream별 전용 호스트**(`{target}.webhook.gw.vatech.com`, Host/SNI → 레지스트리 inbound_host, §7.6.2) — source IP 비의존. 아래 경로 `/v1/webhooks/{target}`와 스키마는 **예시**이며 확정 계약이 아니다(upstream 규약 수용·유연, §4.1.3). **신뢰(인증) = HMAC + timestamp**(호스트명은 식별이지 인증 아님); source IP allowlist는 옵션. GW는 멱등(eventId)·라우팅만 하며 payload는 소비자가 해석한다(opaque, ④/AXS 스냅샷 참조).
      parameters:
      - name: target
        in: path
        required: true
        schema:
          type: string
          enum: [ axs ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEnvelope'
      responses:
        '200':
          description: 수신 ACK(처리는 비동기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 호환성 공시 (§7.7) ---
  /.well-known/{env}/server-configuration.json:
    parameters:
    - name: env
      in: path
      required: true
      schema:
        type: string
    get:
      tags: [ compatibility ]
      summary: 런타임 버전·호환성 공시 (FR-COMPAT-02)
      description: 스키마·샘플은 design/well-known/ 참조. 버전 프리픽스 없이 표준 관례로 노출(§4.1.2-5)
      security: []
      responses:
        '200':
          description: 서버 구성(호환성 매트릭스 공시)
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 관리·감사 (§7.8·§7.9) ---
  /admin/v1/devices/{id}/kill:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    post:
      tags: [ admin ]
      summary: kill-switch(긴급 정지) (FR-FLEET-02)
      responses:
        '200':
          description: 즉시 정지됨
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /admin/v1/audit:
    get:
      tags: [ admin ]
      summary: 감사 로그 조회(경량) (FR-AUD-01)
      description: 그 외 관리자 조회(/admin/v1/*)는 LLD에서 확장. UI는 ③-C
      responses:
        '200':
          description: 감사 로그 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 라우팅·분배 지식 관리 (Console ③-C 호출) — DB가 보관하는 "어디로 분배" 정보 ---
  /admin/v1/org-mappings:
    get:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 조회 (webhook 라우팅 키)
      responses:
        '200':
          description: 매핑 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrgMapping'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 **교정(override)** — 1차 입력은 클라이언트 온보딩(자가 등록), 본 API는 오설정 수정용 (FR-RGN-04)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMapping'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 삭제 — 연동 해지·오설정 제거 (복합키 targetId+externalOrgId)
      parameters:
        - name: targetId
          in: query
          required: true
          schema: { type: string }
          description: upstream 대상 라벨(=Vatech-Target)
        - name: externalOrgId
          in: query
          required: true
          schema: { type: string }
          description: upstream 발급 외부 Org-ID
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- webhook 이벤트 조회 (Console 검색/필터, §7.6·§7.9.1) — GW 런타임 생성, write API 없음(조회 전용) ---
  /admin/v1/webhook-events:
    get:
      tags: [ admin ]
      summary: webhook 이벤트(메타) 검색/조회 — Console 운영·감사용 (PHI-free, payload는 payload_ref로 참조)
      parameters:
        - name: targetId
          in: query
          schema: { type: string }
          description: 발신 upstream 라벨 필터
        - name: clinicId
          in: query
          schema: { type: string }
          description: 분배 대상 clinic 필터
        - name: eventType
          in: query
          schema: { type: string }
          description: upstream 원어 event_type 필터
        - name: state
          in: query
          schema: { $ref: '#/components/schemas/WebhookEventState' }
          description: 처리 상태 필터
        - name: from
          in: query
          schema: { type: string, format: date-time }
        - name: to
          in: query
          schema: { type: string, format: date-time }
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
        - name: cursor
          in: query
          schema: { type: string }
          description: 페이지네이션 커서
      responses:
        '200':
          description: webhook 이벤트 메타 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- fleet 상태 조회 (§7.8, 대시보드) — device push heartbeat로 갱신, 조회 전용 ---
  /admin/v1/fleet:
    get:
      tags: [ admin ]
      summary: fleet 상태(디바이스 heartbeat·버전) 조회 — 운영 대시보드 (fleet_state)
      parameters:
        - name: clinicId
          in: query
          schema: { type: string }
          description: clinic 필터
        - name: staleOnly
          in: query
          schema: { type: boolean, default: false }
          description: last_heartbeat 임계 초과(정체) 디바이스만
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200 }
        - name: cursor
          in: query
          schema: { type: string }
      responses:
        '200':
          description: fleet 상태 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FleetState'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 연동 대상(upstream) 통합 관리 (§7.5·§7.6·§7.1.3, Console ③-C) — 라우팅+자격+webhook 수신 한 레코드 ---
  /admin/v1/upstreams:
    get:
      tags: [ admin ]
      summary: 연동 대상(upstream) 조회 (라우팅·자격·webhook 수신 통합) (FR-INT-01/02·FR-WH-01/02)
      description: credential_ref·secret_ref는 KMS 참조만 반환(시크릿 원문 미노출)
      responses:
        '200':
          description: upstream 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Upstream'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ admin ]
      summary: upstream 등록/갱신(upsert) — **연동 하나=1 레코드**(라우팅+자격+webhook 수신). 감사 action=upstream.upsert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Upstream'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /admin/v1/upstreams/{targetId}:
    parameters:
    - { name: targetId, in: path, required: true, schema: { type: string } }
    delete:
      tags: [ admin ]
      summary: upstream 삭제 — 해당 연동 전체(라우팅·자격·webhook 수신) 제거. 감사 action=upstream.delete
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 중앙 Config 관리 (§7.8.4, Console ③-C 호출) — (scope,key,value) CRUD ---
  /admin/v1/config:
    get:
      tags: [ admin ]
      summary: 중앙 config 항목 조회 (FR-CFG-01)
      description: 스코프·키로 필터. device에 실제 적용되는 실효값은 device의 GET /v1/fleet/config
      parameters:
      - { name: scopeType, in: query, schema: { type: string, enum: [ global, region, clinic, device ] } }
      - { name: scopeId, in: query, schema: { type: string } }
      - { name: configKey, in: query, schema: { type: string } }
      responses:
        '200':
          description: config 항목 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigEntry'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      tags: [ admin ]
      summary: 중앙 config 항목 upsert(등록/갱신) — (scopeType, scopeId, configKey) 단위 (FR-CFG-01)
      description: 값 변경 시 version 증가. 감사 action=config.publish(§7.9.3)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigEntry'
      responses:
        '200':
          description: upsert됨(갱신 후 항목)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigEntry'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      tags: [ admin ]
      summary: 중앙 config 항목 삭제 — (scopeType, scopeId, configKey) 지정 (FR-CFG-01)
      parameters:
      - { name: scopeType, in: query, required: true, schema: { type: string, enum: [ global, region, clinic, device ] } }
      - { name: scopeId, in: query, schema: { type: string } }
      - { name: configKey, in: query, required: true, schema: { type: string } }
      responses:
        '204':
          description: 삭제됨
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 디바이스/사람 JWT(FR-AUTH·§7.1). 공개 엔드포인트(auth·enroll·webhook·well-known)는 op별 security 재정의. 프록시 호출은 target 서브도메인({target}.gw.vatech.com)으로 라우팅(§4.1.2; CleverOne→EzServer 구간은 Vatech-Target 헤더→EzServer가 서브도메인 변환)

  headers:
    VatechErrorOrigin:
      description: 오류 책임 주체 — gateway(GW 생성) | upstream(대상 서버 자체 오류, verbatim 통과). §7.7.4
      schema: { type: string, enum: [ gateway, upstream ] }
    RetryAfter:
      description: 재시도 권고(초). 429·503에서 부여
      schema: { type: integer }
    VatechUpstreamLatencyMs:
      description: 프록시 시 upstream 응답 지연(관측, §7.5.4)
      schema: { type: integer, format: int64 }

  responses:
    BadRequest:
      description: 요청 형식·검증 오류 (400)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: 인증 실패 — 토큰·서명·자격·timestamp (401)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: 권한 부족 — scope·RBAC·정책 거부 (403)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 리소스 없음 / 미등록 (404)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: 멱등 충돌 / 중복 등록 / 상태 전이 위반 (409)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: rate limit 초과 (429)
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    # --- 프록시(B/C) 전용 — GW 생성 오류. 특정 경로가 아니라 target 서브도메인 proxy 공통(§7.5.4·§7.7.4). ---
    # --- upstream 자체 4xx/5xx는 본 응답을 쓰지 않고 원응답을 verbatim 통과(Vatech-Error-Origin: upstream). ---
    UpstreamUnreachable:
      description: upstream 연결 실패(거부·DNS·TLS) — GW 연결 timeout·GW 정규화 (502)
      headers:
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }
    UpstreamUnavailable:
      description: 서킷 개방(mesh/istio) / upstream 일시 불가 — GW 정규화 (503)
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }
    UpstreamTimeout:
      description: upstream 응답 지연 — GW 연결 timeout(response/total_deadline, D2/D3) 초과·GW 정규화 (504)
      headers:
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }

  parameters:
    DeviceId:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:
    # 공통 오류 envelope (GW 생성 — §7.7.4). 프록시 upstream 자체 오류는 verbatim이라 미적용.
    Error:
      type: object
      required: [ errorCode ]
      properties:
        errorCode: { type: string, description: '표준 오류코드(§7.7.4)' }
        message: { type: string }
        requestId: { type: string, description: '상관 추적용 ID(§6.3.2)' }
        details: { type: object, description: '필드 검증 오류 등 부가 정보' }
      description: 'GW 표준 오류 응답 본문(§7.7.4)'
    # 인증
    TokenRequest:
      type: object
      required: [ clientId, clientAssertion, scope ]
      description: >-
        디바이스 머신 인증 = OAuth2 client_credentials + private_key_jwt(비대칭, ADR-13·§7.1.1).
        공유 client_secret 미사용 — 디바이스 개인키로 서명한 JWT assertion을 GW가 등록된 공개키(clientPublicKey)로 검증.
      properties:
        clientId:
          type: string
        clientAssertionType:
          type: string
          description: RFC 7523 고정값
          default: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'
        clientAssertion:
          type: string
          description: 디바이스 개인키로 서명한 JWT assertion(소지 증명). GW가 등록된 공개키(clientPublicKey)로 검증(§7.1.1)
        scope:
          type: string
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresAt:
          type: integer
          format: int64
          description: Unix ms
        claims:
          type: object
          description: device_id·region·aud·TTL 강제 바인딩(§7.1.1)
    OneIdVerifyRequest:
      type: object
      required: [ oneIdToken ]
      properties:
        oneIdToken:
          type: string
    OneIdVerifyResponse:
      type: object
      properties:
        identity:
          type: object
          description: 사람/클리닉/사내 호출자 신원
        deviceBinding:
          type: string
          description: 디바이스 인증면과의 매핑

    # 온보딩
    EnrollStartRequest:
      type: object
      required: [ bootstrap ]
      properties:
        bootstrap:
          type: string
          description: >-
            부트스트랩 신뢰 = LM 라이선스·Clinic-ID(EzServer가 설치 시 LMP에서 수신).
            공장 토큰/OOB 코드는 미도입(GW 사전 발급 토큰 없음). 최종 활성화는 C/S Console 승인(§2.3.1·§7.2.5)
        serial:
          type: string
          description: 대상 디바이스 시리얼(부트스트랩 식별)
    EnrollChallenge:
      type: object
      properties:
        nonce:
          type: string
        expiresAt:
          type: integer
          format: int64
    EnrollCompleteRequest:
      type: object
      required: [ nonceSignature, clientPublicKey ]
      properties:
        nonceSignature:
          type: string
          description: EzServer 개인키로 nonce 서명(소지 증명, §7.2.6)
        clientPublicKey:
          type: string
          description: EzServer 생성 키페어의 공개키(또는 key-id) = 디바이스 공개키(clientPublicKey). 물리 머신 지문 아님. 재설치 시 새 키→재-enroll로 회전(§7.2.6·7.2.7)

    # 디바이스
    DeviceStatus:
      type: string
      enum: [ pending, active, suspended, revoked ]
    Device:
      type: object
      description: >-
        디바이스 = GW 호출 주체(머신 클라이언트, §1.2·§1.4) — v1.0 유일 종류=EzServer(clinic-bound); 미래 비-EzServer/clinic-less 가능(§1.2 Will Not Do). clinicId nullable.
        인증 자격도 여기에 통합 — 별도 Credential 스키마 없음(2026-07-01). 인증=private_key_jwt(비대칭, ADR-13): clientId + clientPublicKey(공개키)로 검증, 공유 secret 없음.
      properties:
        deviceId:
          type: string
        clinicId:
          type: string
          description: 소속 클리닉(등록 시 포함). nullable — 미래 클리닉 비소속(비-EzServer) 디바이스. region은 clinic에서 파생(§6.4.1 A안, region 컬럼 없음)
        clientId:
          type: string
          description: OAuth2 client id — GW가 enroll 시 발급한 불투명 식별자(RFC 6749 §2.2·§7.2.5, 내부 식별자 비파생·비밀 아님). nullable — client 자격 미발급 device(enroll 전·미래 비인증). 토큰 요청 시 이 값 + 개인키 서명(private_key_jwt)으로 인증(§7.1.1)
        clientPublicKey:
          type: string
          description: enrollment 키페어의 공개키(또는 key-id) = 디바이스 공개키(clientPublicKey). 인증 assertion 서명 검증에 사용(§7.1.1). 물리 머신 지문 아님
        status:
          $ref: '#/components/schemas/DeviceStatus'

    # 리전
    RegionResolveResponse:
      type: object
      required: [ region, endpoint, status, mappingVersion ]
      properties:
        region:
          type: string
          description: '해석된 리전 ID(= region_catalog.regionId, 예 apne2). deviceId·clinicId 어느 입력이든 동일 리전으로 귀결(ADR-10)'
        regionDisplayName:
          type: string
          description: '리전 표시명(예 서울) — region_catalog.displayName'
        endpoint:
          type: string
          description: '리전 endpoint(§4.5.1). 클라이언트는 평소 apex GeoDNS(gw.vatech.com)만 사용하고 본 값은 참고·진단용'
        status:
          type: string
          enum: [ active, draining, planned ]
          description: '리전 운영 상태 — draining이면 신규 배정 중단(기존 유지), 클라이언트가 인지(§7.3.6)'
        clinicId:
          type: string
          description: '해석된 소속 클리닉(region SSOT=clinic, §6.4.1). deviceId로 물었을 때 어느 클리닉으로 귀결됐는지 echo'
        mappingVersion:
          type: integer
          description: 'clinic.mapping_version — 캐시 무효화·drift 감지(§7.3.2). 클라이언트 캐시 시 이 값으로 stale 판정'
        cacheTtlSeconds:
          type: integer
          description: '이 해석 결과를 클라이언트가 캐시해도 되는 시간(초). 만료 후 재해석 권장(§7.3.1 soft-state)'
        hosts:
          type: object
          description: '클라이언트가 실제 호출하는 공개 호스트 — 모두 GeoDNS라 **리전 불변**(리전별로 다르지 않음·참고용, §4.5.1). endpoint(리전 내부 진단용)와 구분'
          properties:
            apex: { type: string, description: 'GW 고유 API·프록시 apex(예 gw.vatech.com, GeoDNS). 프록시 target은 {target}.gw.vatech.com' }
            webhookHostPattern: { type: string, description: 'upstream 웹훅 수신 호스트 관례({target}.webhook.gw.vatech.com) — 외부 upstream가 이 리전 클리닉 이벤트를 push할 때 쓰는 호스트(GeoDNS, §4.5.1·§7.6.1)' }
        sovereigntyPolicy:
          type: object
          description: 'PHI 데이터 주권 정책(§7.3.3) — PHI 바이트가 이 리전을 벗어나지 못함(OPA 집행)'
          properties:
            dataResidencyRegion: { type: string, description: 'PHI가 머물러야 하는 리전(보통 region과 동일)' }
            phiEgressAllowed: { type: boolean, description: '리전 밖 PHI 유출 허용 여부(항상 false)' }
            crossBorder: { type: boolean, description: 'true면 국경 간 — 재동의·주권 재평가(FR-COMP-02)' }
            storage:
              type: object
              description: 'PHI storage 주권 — GW는 storage 비호스팅, 발급 upstream(CleverSpace/AXS) 소유(§7.4·§3.1.2)'
              properties:
                hostedBy: { type: string, description: '항상 upstream — PHI 바이트는 upstream storage에 presigned 직결(GW 비경유)' }
                kind: { type: string, description: 'AWS 리전=S3, AWS 미지원국=upstream MinIO 등(upstream가 결정·리전 주권 충족)' }
                regionBound: { type: boolean, description: 'upstream storage가 dataResidencyRegion 안에 있어야 함(항상 true)' }

    # Fleet heartbeat (§7.8.1)
    FleetHeartbeat:
      type: object
      description: >-
        device가 GW로 보고하는 heartbeat 본문. 모든 필드 선택 — 본문이 비어도 수신 시각만으로 liveness가 성립한다. device_id는 인증 토큰 subject에서 취득(본문 불요).
      properties:
        appVersion:
          type: string
          description: 'device(EzServer) 소프트웨어 버전 — 호환성·롤아웃 가시성(§7.7·§7.8.4)'
        metrics:
          type: object
          description: 'health 관측 지표(선택). fleet_state.success_rate 등 대시보드·이상탐지 입력(§7.8.1·§7.8.3)'
          properties:
            diskFreeBytes: { type: integer, format: int64, description: '가용 디스크(바이트)' }
            queueDepth: { type: integer, description: '미전송 큐 적체(업로드·이벤트)' }
            successRate: { type: number, description: '관측 성공률 0~1(직전 윈도우)' }
        appliedConfigVersion:
          type: string
          description: '(gw/1.1+ 예약·v1.0 미사용) device가 현재 적용 중인 중앙 config 실효 버전 = 콘텐츠 해시(§7.8.4). GW가 실효 버전과 동등성 비교해 drift(미반영) 판정'
    FleetHeartbeatAck:
      type: object
      required: [ receivedAt, nextIntervalSeconds ]
      properties:
        receivedAt:
          type: integer
          format: int64
          description: 'GW 수신 시각(Unix ms) — fleet_state.last_heartbeat에 기록됨'
        nextIntervalSeconds:
          type: integer
          description: '다음 heartbeat까지 권장 간격(초). 정본=중앙 config(§7.8.4 gw.heartbeat.interval_seconds)에서 device 스코프 resolve, 없으면 .env 기본값(§7.8.1). device는 이 값에 맞춰 다음 호출 주기를 갱신한다'
        configVersion:
          type: string
          description: '(gw/1.1+ 예약·v1.0 미사용) 현재 device 실효 중앙 config 버전 = 콘텐츠 해시(§7.8.4). device의 appliedConfigVersion과 다르면 GET /v1/fleet/config로 다시 pull하라는 신호'

    # 중앙 Config (§7.8.4)
    FleetConfig:
      type: object
      required: [ config, configVersion ]
      description: >-
        (gw/1.1+ 예약·v1.0 미사용) device의 실효 중앙 config(§7.8.4). GW가 키별 가장 구체 스코프 우선(device > clinic > region > global, override 병합)으로 해석한 결과.
      properties:
        config:
          type: object
          additionalProperties: true
          description: '실효 config 맵 — 키(gw.*/device.*)→값(스칼라/객체). 형식·키 레지스트리=design/db-jsonb-fields.md#config'
        configVersion:
          type: string
          description: '실효 config 버전 = 콘텐츠 해시(기여 (config_key,config_value,행 version) 정렬·canonical JSON의 SHA-256 hex, §7.8.4). device는 이를 appliedConfigVersion으로 보고(drift 판정)'
    ConfigEntry:
      type: object
      required: [ scopeType, configKey, configValue ]
      description: '중앙 config 1항목 = (scope, key) → value(§7.8.4·config 테이블). 관리 API 입출력 단위.'
      properties:
        scopeType:
          type: string
          enum: [ global, region, clinic, device ]
          description: '부착 스코프. 실효값은 키별 device>clinic>region>global 우선'
        scopeId:
          type: string
          description: 'global=생략 / region=regionId / clinic=clinicId / device=deviceId (다형 참조·하드 FK 없음)'
        configKey:
          type: string
          description: '점 구분 소문자 키. gw.*(GW 소비)/device.*(전달). 예 gw.heartbeat.interval_seconds'
        configValue:
          description: '값(스칼라 또는 객체). 키 레지스트리 스키마로 타입·범위 검증(PHI 금지)'
        version:
          type: integer
          format: int64
          description: '행 버전(변경 시 증가) — 읽기 시 반환, 쓰기 시 GW가 증가시킴'
        updatedAt:
          type: integer
          format: int64
          description: '수정 시각(Unix ms)'
        updatedBy:
          type: string
          description: '변경 주체(audit actor, 예 user:oneid-…)'

    # 연동 대상(upstream) 통합 (§7.5·§7.6·§7.1.3) — 라우팅+아웃바운드 자격+인바운드 webhook 수신
    Upstream:
      type: object
      required: [ targetId, profile ]
      description: >-
        연동 대상(외부 서비스·내부 backend) **통합 레코드**(엔터티=upstream) — 라우팅+아웃바운드 자격+인바운드 webhook 수신을 한 레코드에(구 upstream_registry·connector·webhook_provider 병합). **upstream 하나 등록=1 레코드**. credential_ref·secret_ref는 KMS 참조만(원문 미노출). org_mapping·webhook_event·policy가 targetId를 참조. AXS=①②③ 다 채움 / 내부(cleverspace·oneid)=① 라우팅만.
      properties:
        targetId: { type: string, description: '연동 대상 ID = Vatech-Target 값 = 서브도메인 라벨 = PK. 예 axs·cleverspace·oneid' }
        # ── ① 라우팅 (모든 대상) ──
        host: { type: string, description: '내부 매핑 host(클라이언트 비노출)·아웃바운드 base=https://{host}. 예 api.eu.axs.straumann.com' }
        profile: { type: string, enum: [ internal, external ], description: 'internal=B(내부) / external=C(외부)' }
        connectTimeoutMs: { type: integer, description: 'GW→upstream 연결 대기 — GW 책임(D1, §7.5.4·R4). 예 3000' }
        responseTimeoutMs: { type: integer, description: 'GW→upstream 응답 대기·초과 504(D2). 예 10000' }
        totalDeadlineMs: { type: integer, description: '프록시 총 예산(D3, < 클라이언트 타임아웃). 예 12000' }
        enabled: { type: boolean }
        # ── ② 아웃바운드 자격 (외부 C만·nullable) ──
        credentialRef: { type: string, description: 'OAuth2 client 자격 KMS 참조(access token 아님·원문 미저장, §7.1.3). 내부(B)는 생략. 예 kms://alias/axs-oauth-client' }
        egressAllowlist:
          type: object
          description: 'egress SSOT(#31) — hosts·cidrs 둘 다 비면 fail-closed(전면 거부). 외부 C만. 형식=design/db-jsonb-fields.md#upstream'
          properties:
            hosts: { type: array, items: { type: string }, description: '허용 FQDN. 예 ["api.eu.axs.straumann.com"]' }
            cidrs: { type: array, items: { type: string } }
            ports: { type: array, items: { type: integer }, description: '생략 시 [443]' }
            requireStaticEgressIp: { type: boolean, description: 'true면 고정 egress IP(NAT) 경유 강제' }
        # ── ③ 인바운드 webhook (webhook 발신 대상만·nullable) ──
        inboundHost: { type: string, description: '전용 수신 호스트(Host/SNI 발신자 식별, §7.6.2). 예 axs.webhook.gw.vatech.com. 미발신이면 생략' }
        inboundRoute: { type: string, description: '등록 수신 경로(유연·발신 규약 수용). 예 /v1/webhooks/axs' }
        sigScheme: { type: string, description: '서명 검증 스킴(인증). 예 hmac-sha512(헤더 Signature·hex·서명대상 minified JSON body)' }
        secretRef: { type: string, description: 'HMAC 검증 시크릿 KMS 참조(원문 미저장)' }
        sourceIpAllowlist: { type: array, items: { type: string, description: 'CIDR(예 203.0.113.0/24)' }, description: '허용 소스 CIDR(옵션·방어심층·Host가 1차 식별)' }
        eventIdPath: { type: string, description: 'payload에서 event_id(멱등) 추출 경로. 예 $.messageId' }
        orgIdPath: { type: string, description: 'payload에서 externalOrgId 추출 경로. 예 $.organizationId' }
        eventTypePath: { type: string, description: 'payload에서 event_type 추출 경로. 예 $.eventType(upstream 어휘 verbatim·GW enum 아님)' }

    # Webhook
    WebhookEnvelope:
      type: object
      description: >-
        GW가 검증·라우팅에 사용하는 최상위 공통 필드만 정의. 실제 이벤트 본문(payload)은 upstream 외부 스키마이므로 opaque(object) 또는 외부 $ref로 둔다(§4.1.3-2).
      required: [ eventId, eventType ]
      properties:
        eventId:
          type: string
          description: 멱등 키(중복 수신 dedup, §7.6.4)
        eventType:
          type: string
          description: 이벤트 유형(분배 라우팅 키)
        payload:
          type: object
          description: upstream별 외부 스키마(④/AXS 스냅샷 참조). GW 재정의 금지.
    WebhookAck:
      type: object
      properties:
        received:
          type: boolean
        eventId:
          type: string

    WebhookEventState:
      type: string
      enum: [ received, dispatched, dead_letter ]
      description: 'webhook 처리 상태(DBML webhook_state). received=수신·미분배, dispatched=분배 완료, dead_letter=N회 실패·DLQ'
    WebhookEvent:
      type: object
      description: >-
        webhook 이벤트 **PHI-free 운영 메타데이터**(webhook_event 테이블 매핑, §7.6). payload 본문은 리전 로컬 S3에만 두고 payloadRef로 참조(claim-check, R2). 관계형 DB·본 응답에 본문 미포함.
      required: [ eventId, targetId, state ]
      properties:
        eventId: { type: string, description: '이벤트 식별자 = 멱등 키(dedup). 예 c2f8aaf5-…' }
        targetId: { type: string, description: '발신 upstream 라벨. 예 axs' }
        eventType: { type: string, description: 'upstream 원어 event_type(verbatim·GW enum 아님·null 가능). 예 patient.created' }
        externalOrgId: { type: string, description: '발신 org 식별자(분배 역조회 키). 예 0040694997' }
        clinicId: { type: string, description: '해석된 대상 clinic(org_mapping 조회 결과). null 가능' }
        region: { type: string, description: '해석된 대상 region(clinic 파생)' }
        payloadRef: { type: string, description: '본문 claim-check 참조(리전 로컬 S3). 예 s3://gw-webhook-payload-apne2/axs/…json' }
        state: { $ref: '#/components/schemas/WebhookEventState' }
        dispatchTarget: { type: string, description: "구체적 분배 목적지 스냅샷 {channel}:{endpoint}. 예 mqtt_edge:gw/clinic/CLINIC-0040694997/webhook" }
        attempts: { type: integer, description: '분배 시도 횟수' }
        lastError: { type: string, description: '마지막 분배 실패 사유(성공 시 null)' }
        receivedAt: { type: integer, format: int64, description: '수신 시각(Unix ms)' }
        dispatchedAt: { type: integer, format: int64, description: '분배 완료 시각(Unix ms·미분배 시 null)' }

    FleetState:
      type: object
      description: 'device별 관측 상태 스냅샷(fleet_state 테이블, §7.8). device push heartbeat로 갱신, 온라인/오프라인은 last_heartbeat 임계 초과 파생.'
      required: [ deviceId ]
      properties:
        deviceId: { type: string, description: 'device_id(PK·FK). 예 01920a7b-…' }
        lastHeartbeat: { type: integer, format: int64, description: '마지막 heartbeat 수신 시각(Unix ms). device→GW push(§7.8.1)' }
        successRate: { type: number, format: double, description: '성공률(0~1) 관측 지표. 예 0.987' }

    # 감사
    AuditLog:
      type: object
      description: append-only
      properties:
        ts:
          type: integer
          format: int64
        actor:
          type: string
        action:
          type: string
        result:
          type: string

    # 라우팅·분배 레지스트리 (DB가 보관하는 "어디로 분배" 지식)
    OrgMapping:
      type: object
      required: [ targetId, externalOrgId, clinicId ]
      properties:
        targetId: { type: string, description: '연동 대상(upstream) ID. 예 axs' }
        externalOrgId: { type: string, description: 'upstream(발신)의 org 식별자(예 AXS Organization-ID)' }
        clinicId: { type: string }
        mappingVersion: { type: integer }
      description: 'webhook 라우팅 키 — (targetId, externalOrgId) → clinicId → region'
    ClinicRegistration:
      type: object
      required: [ clinicId, region ]
      properties:
        clinicId: { type: string }
        region: { type: string, description: 'region(GW가 검증). 초기 region은 보통 enroll이 확립(GeoDNS 기본·C/S override); 본 입력은 운영자 교정 시 사용' }
      description: '운영자(OneID) 클리닉 교정·예외적 수동 등록 입력 — 주 생성 경로는 enroll(§2.3.1)'
    OrgBinding:
      type: object
      required: [ targetId, externalOrgId ]
      properties:
        targetId: { type: string, description: '연동 대상(upstream) ID. 예 axs' }
        externalOrgId: { type: string, description: 'upstream(발신) Org-ID(예 AXS Organization-ID)' }
      description: '외부 연동 연결 시 upstream별 Org-ID 등록 → org_mapping(webhook 라우팅 키)'
    Region:
      type: object
      required: [ regionId, status ]
      properties:
        regionId: { type: string, description: '예 apne2(서울), use1(미주)' }
        displayName: { type: string }
        endpoint: { type: string }
        status: { type: string, enum: [ active, draining, planned ] }
        isDefault: { type: boolean }
      description: 'GW 운영 리전(GET /v1/regions). region_catalog 테이블 매핑'
    ProxyError:
      type: object
      required: [ errorCode, origin ]
      properties:
        errorCode:
          type: string
          enum: [ UPSTREAM_UNREACHABLE, UPSTREAM_TIMEOUT, UPSTREAM_UNAVAILABLE ]
          description: '502 연결 실패 / 504 deadline 초과 / 503 서킷·일시불가(§7.7.4)'
        origin:
          type: string
          enum: [ gateway ]
          description: 'GW가 생성한 오류임을 표시(헤더 Vatech-Error-Origin: gateway와 동일). upstream 자체 4xx/5xx는 본 스키마를 쓰지 않고 원응답을 verbatim 통과(origin: upstream)'
        targetId: { type: string, description: '실패한 target 서브도메인 라벨(논리 ID)' }
        retryAfter: { type: integer, description: '503 시 재시도 권고(초)' }
        message: { type: string }
      description: 'GW 생성 프록시 오류 본문(502/503/504). upstream 응답은 verbatim 통과라 이 스키마 미적용(§7.5.4·§7.7.4)'
