# Vatech API Gateway - OpenAPI 3.0 (설계 초안)
#
# 작성: 초안 단계 산출물 -> baseline 시 vt-api-gateway/docs/specs/design/로 PR 이관.
# 구현 착수 후에는 NestJS code-first(@nestjs/swagger) /api-docs 산출물이 정본이 된다.
#
# 시드 출처: "VT API Gateway - API 명세·데이터 모델·주권" §1 엔드포인트.
# 범위: GW 고유 API(A — apex gw.vatech.com 호출)만 정의(§4.1.1·ADR-11, 7/2 R1).
#       프록시(B 내부·C 외부)는 target 서브도메인({target}.gw.vatech.com, Host/SNI)으로 라우팅되는 verbatim bypass이며 OpenAPI에 정의하지 않는다
#       (레지스트리 config + target OpenAPI 정본). Vatech-Target 헤더는 CleverOne→EzServer 내부 hop 키(EzServer가 서브도메인 변환). §4.1.2·§4.5.1 참조.
# 필드는 camelCase, 시간은 Unix ms(SRS §1.3). 상세 스키마는 LLD에서 확정.
# 에러 계약: 공통 Error envelope + 재사용 응답(400/401/403/404/409/429) + 프록시 GW생성 오류(502/503/504=ProxyError, §7.5.4·§7.7.4)
#   + Vatech-Error-Origin(gateway|target)·Retry-After 헤더. 인증=전 op 명시(상속 없음): deviceAuth(private_key_jwt)/operatorAuth(직원 IdP OIDC+RBAC)/webhookHmac(발신자 HMAC), 공개 ep(auth·enroll·well-known·webhooks)는 security:[]. 운영자=Entra OIDC Bearer 요청별 operatorAuth 검증(전용 verify ep 없음·7/9 R2=Entra).
#   (example·완전한 code-first 정합은 baseline 후 — Appendix B #6)
openapi: 3.0.3
info:
  title: Vatech API Gateway
  version: 0.0.0
  description: >-
    설계 초안. GW 고유 API(A — apex gw.vatech.com, §4.1.1·ADR-11)만 정의. 파일 업로드: GW는 presigned 발급 안 함 — CleverSpace(경로②)·AXS(경로③) 발급, GW 중계(§4.1.4·§7.4). 프록시(B 내부·C 외부)는 target 서브도메인({target}.gw.vatech.com, Host/SNI)으로 라우팅되는 verbatim bypass이며 본 파일에 정의하지 않는다 — CleverSpace presign=경로②(cleverspace.gw.vatech.com, CS OpenAPI 정본), AXS presign/파일=경로③(axs.gw.vatech.com, ④). Vatech-Target 헤더는 CleverOne→EzServer 내부 hop 키(EzServer가 서브도메인 변환). 라우팅 규칙은 §4.1.2·§4.5.1(7/2 R1).
servers:
- url: https://gw.vatech.com
  description: >-
    GW 고유 API(A) apex(§4.5.1). 프록시 target은 {target}.gw.vatech.com 서브도메인(레지스트리 등록·본 파일 미정의)

tags:
- name: auth
  description: 인증·토큰 (SRS §7.1)
- name: enrollment
  description: 온보딩 (SRS §7.2)
- name: devices
  description: 디바이스 레지스트리·lifecycle (SRS §7.2)
- name: clinics
  description: 클리닉 관리·리전 등록/변경 (클리닉 생성·초기 region은 enroll이 흡수 §2.3.1) (SRS §7.3)
- name: regions
  description: GW 운영 리전 카탈로그·조회 (SRS §7.3.6)
- name: webhooks
  description: 외부 이벤트 수신·분배 (SRS §7.6)
- name: compatibility
  description: API 버전 호환성 공시 (SRS §7.7)
- name: fleet
  description: 디바이스 heartbeat·상태 보고 (device→GW 능동 보고, SRS §7.8.1)
- name: admin
  description: 관리·감사 API (SRS §7.8·§7.9, ③-C Console이 호출)

# 기본 인증 = operatorAuth(운영자/Console). 디바이스 API는 op에서 deviceAuth로, 공개 ep(auth·enroll·webhook·well-known)는 security:[]로 재정의.
security:
- operatorAuth: []

paths:
  # ─────────── 범위 노트: 비-API 경로 — GW 고유 API(A)가 아니라 프록시/발급 위임이라 본 파일에 정의하지 않음 ───────────
  # --- 파일 업로드: GW 고유 API 없음 ---
  # presigned 발급 주체 = CleverSpace(경로②)·AXS(경로③). GW는 발급 요청을 target 서브도메인 proxy로 중계(bypass)만 하며 서명·세션·storage를 갖지 않는다(§4.1.4·§7.4 · ADR-03/04 철회).

  # --- 프록시(B 내부·C 외부)는 본 OpenAPI에 정의하지 않는다 (§4.1.1·§4.1.2·ADR-11, 7/2 R1) ---
  # 라우팅 = target 서브도메인({target}.gw.vatech.com, Host/SNI · 라벨=논리 ID) → 레지스트리 allowlist→host 해석. 미등록 라벨=404.
  # GW는 클라이언트가 친 target 경로를 host만 바꿔 verbatim 전달(요청/응답 body 그대로). 경로를 GW가 정의/변환하지 않음.
  #   - 경로②(B): cleverspace.gw.vatech.com — CleverSpace OpenAPI 정본
  #   - 경로③(C): axs.gw.vatech.com — AXS OpenAPI 스냅샷 + ④ Sub-SRS 정본 (OAuth2·egress allowlist는 GW 정책)
  # apex gw.vatech.com 호출만 아래 GW 고유 API(A)로 처리된다. Vatech-Target 헤더는 CleverOne→EzServer 내부 hop 키(EzServer가 서브도메인 변환).
  #
  # 프록시 에러·복원력 계약 (정본 §7.5.4·§7.7.4 — 경로가 아니라 전 프록시 공통이므로 여기 주석으로 기술):
  #   - GW→target 연결 timeout(connect/response/total_deadline, Target)=GW 책임(7/2 R4·D1~D3): GW가 target에 직접 연결하는 HTTP 클라이언트라 자기 호출 bound. total_deadline < 클라이언트 타임아웃.
  #   - 클라이언트 타임아웃 인지(D10): 프록시 호출 시 클라이언트가 선택적 요청 헤더 Vatech-Timeout-Ms(상대값 ms) 전송 가능 → GW가 내부 deadline=now+min(헤더, total_deadline)로 클램프(gRPC grpc-timeout 선례). 미전송 시 계약값(EzServer 30s, D4) 사용. 프록시는 verbatim이라 본 헤더는 target에 전달 안 함.
  #   - 재시도·서킷 브레이커=service mesh(istio) egress 담당(GW 미구현, D5~D8).
  #   - GW 정규화 오류 = ProxyError 스키마: 502 연결실패(TARGET_UNREACHABLE) / 504 timeout·deadline(TARGET_TIMEOUT, GW 자기 timeout) / 503 서킷·일시불가(TARGET_UNAVAILABLE, mesh). 헤더 Vatech-Error-Origin: gateway.
  #     재사용 응답 정의 = components/responses/{TargetUnreachable(502), TargetUnavailable(503), TargetTimeout(504)} (프록시 게이트웨이 핸들러에서 사용).
  #   - target 자체 4xx/5xx = 원 코드·body verbatim 통과(GW 미변형). 헤더 Vatech-Error-Origin: target.
  #   - GW 앱레벨: 연결 timeout + 오류 정규화 + 멱등(Idempotency-Key 존중) + 클라이언트 조기 절단 시 target 호출 취소. 네트워크 재시도·서킷은 mesh 담당.

  # ═══════════════════ DEVICE-SELF PLANE (/v1/*, deviceAuth) — EzServer(디바이스)가 자기 것만 호출. auth/token·enroll 부트스트랩만 security:[] ═══════════════════

  # --- 부트스트랩(security:[]): 토큰 발급·enroll 온보딩 (§7.1·§7.2) ---

  /v1/auth/token:
    post:
      operationId: postAuthToken
      tags: [ auth ]
      summary: 디바이스 client_credentials → JWT 발급 (FR-AUTH-01/02) [v1.0]
      description: >-
        EzServer(디바이스)가 enrollment에서 등록한 개인키로 서명한 client_assertion(private_key_jwt·§7.1.1)을 제시하면,
        GW가 등록 공개키(client_public_key)로 검증하고 claim(deviceId·region·aud·TTL) 바인딩된 단명 access token을
        발급한다. 공유 secret 없음(ADR-13)·refresh token 미발급(만료 시 개인키 재서명 재발급). 공개 엔드포인트(security:[]).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: 발급된 access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/enroll/start:
    post:
      operationId: postEnrollStart
      tags: [ enrollment ]
      summary: enrollment 시작(LM 라이선스·Clinic-ID 부트스트랩) → nonce challenge (FR-ENR-01/03) [v1.0]
      description: >-
        EzServer 설치 시 부트스트랩(LM 라이선스·Clinic-ID)을 제시해 enrollment를 시작하고 GW가 nonce challenge를
        발급한다(§2.3.1). GeoDNS 최근접 리전에 도달. 디바이스 신원 형성 전이라 공개 엔드포인트(security:[])·rate-limit로 보호.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollStartRequest'
      responses:
        '200':
          description: nonce challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollChallenge'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/enroll/complete:
    post:
      operationId: postEnrollComplete
      tags: [ enrollment ]
      summary: 서명+공개키 검증 → 디바이스 등록 (A안 pending·C/S 승인 / B안 유효 attestation 시 active 자동) + 클리닉·region 확립 (FR-ENR-01/04·FR-RGN-*) [v1.0]
      description: >-
        nonce 서명·공개키(clientPublicKey)를 검증하고 디바이스를 status=pending으로 등록한다.
        **enroll 요청의 Clinic-ID로 clinic을 upsert(없으면 생성)하며, region 기본값은 요청이 GeoDNS로 도달한 최근접 리전**(v1.0=서울, §2.3.1·§2.7.1) — 별도 클리닉 등록 API 불요.
        active 활성화(=인증 허용)는 C/S가 GW Console에서 승인(설치 확인 + region 확정/다른 리전 override)해야 하며,
        승인은 PATCH /v1/admin/devices/{id}(status: active) [+ region override 시 PUT /v1/admin/clinics/{clinicId}/region]로 수행된다(§2.3.1·§7.2.3·§7.2.5·§7.9.2).
        **enroll B안(7/9 R4)**: 유효 `licenseAttestation`(LMP 제3자 서명) 제시 시 GW가 **LMP JWKS**로 검증해 **status=active 자동 승인**(C/S 수동 생략); attestation 없거나 검증 실패면 위 A안(pending→C/S 승인). 두 flow 공존.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCompleteRequest'
      responses:
        '202':
          description: >-
            등록 접수됨. client_id 발급(공개키(clientPublicKey) 바인딩). **status = pending(A안·C/S 승인 대기) 또는 active(B안·유효 attestation 자동 승인)**.
            공유 secret 없음 — 이후 private_key_jwt로 인증(§7.1.1). pending 동안 토큰 미발급
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  clientId:
                    type: string
                    description: >-
                      GW가 발급한 불투명 client id(RFC 6749 §2.2·§7.2.5, 내부 식별자 비파생·비밀 아님). 이후 토큰 요청에 사용(개인키 서명으로 인증)
                  status: { $ref: '#/components/schemas/DeviceStatus' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- Fleet 보고·config pull (§7.8) — device→GW push(edge 폴링 불가) ---

  /v1/fleet/heartbeat:
    post:
      operationId: postFleetHeartbeat
      security:
      - deviceAuth: []
      tags: [ fleet ]
      summary: 디바이스 heartbeat 보고 (FR-FLEET-01) [v1.0]
      description: >-
        device(EzServer)가 주기적으로 호출해 생존·health를 GW에 보고한다. GW는 병원 방화벽 뒤의 edge를 능동 폴링할 수 없으므로 liveness 신호는 device→GW push가 유일하다(§7.8.1). device_id는 인증 토큰 subject에서 취득하므로 본문에 넣지 않는다. GW는 수신 시각을 `fleet_state.last_heartbeat`에 기록하고 본문의 `appVersion`을 `fleet_state.app_version`에 갱신하며, 응답으로 권장 다음 주기(nextIntervalSeconds)를 돌려준다(중앙 config §7.8.4로 조정 가능). 본문의 나머지 health 힌트(diskFree·queueDepth 등)는 관측 파이프라인(§6.3.2)로 전달하며 fleet_state에 저장하지 않는다. 온라인/오프라인은 GW가 last_heartbeat의 임계값(권장 주기의 배수) 초과 여부로 파생 판정한다.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FleetHeartbeat'
      responses:
        '200':
          description: 수신됨(다음 heartbeat 주기 지시 포함)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetHeartbeatAck'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/fleet/config:
    get:
      operationId: getFleetConfig
      security:
      - deviceAuth: []
      tags: [ fleet ]
      summary: device 실효 중앙 config 조회 (FR-CFG-01) — gw/1.1+ 예약 [gw/1.1+]
      description: >-
        **gw/1.1+ 예약(v1.0 미사용).** v1.0 중앙 config는 GW-내부(`gw.*`)가 실사용이고 device로의 원격 config 전달은 §7.6.6 하행 레일의 미래 활용이다(§7.8.4 v1.0 범위). device(EzServer)가 자신에게 적용될 **실효 중앙 config**를 pull한다(§7.8.4). device_id는 인증 토큰 subject에서 취득하며, device는 **자기 스코프의 실효 config만** 조회한다(타 device 노출 금지). 실효값은 키별 가장 구체 스코프 우선(device > clinic > region > global, override 병합)으로 GW가 해석한다. heartbeat 응답의 configVersion이 device의 appliedConfigVersion과 다를 때 이 API를 호출하면 된다.
      responses:
        '200':
          description: device 실효 config(+ 버전)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FleetConfig'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 자기 clinic·region 조회/변경 · org-binding 자가 등록 (§7.3·§2.3.1) ---

  /v1/regions:
    get:
      operationId: getRegions
      security:
      - deviceAuth: []
      tags: [ regions ]
      summary: GW 운영 리전 목록 조회 — 클라이언트 region 선택지 (§7.3.6) [v1.0 · gw/1.2 확장]
      description: EzServer Console 등이 온보딩·운영 중 region 선택을 위해 조회. v1.0=1개, gw/1.2=N개.
      responses:
        '200':
          description: 운영 리전 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/me:
    get:
      operationId: getClinicMe
      security:
      - deviceAuth: []
      tags: [ clinics ]
      summary: 내 clinic 조회 — device self(region·정보 read-back) (FR-RGN-01) [v1.0]
      description: >-
        EzServer(device)가 자기 clinic(토큰 device→clinic)의 현재 값을 읽는다 — region(자가 설정 후
        확인)·이름·국가·연락처·mappingVersion. clinicId를 path에 받지 않는다(토큰 기준 self·격리 자명). 운영자 조회는 GET
        /v1/admin/clinics/{clinicId}.
      responses:
        '200':
          description: 내 clinic 레코드
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Clinic' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      operationId: patchClinicMe
      security:
      - deviceAuth: []
      tags: [ clinics ]
      summary: 내 clinic 정보 보정 — device self(수동·enroll 스냅샷 교정·LMP 자동 sync 아님) (FR-RGN-06) [v1.0]
      description: >-
        LMP에서 clinic 정보가 바뀌면 EzServer가 자기 clinic의 표시·연락 정보(ClinicInfo)를 갱신한다(LMP=SoT·§2.3.1).
        region·clinicId 제외(region=PUT /v1/clinics/me/region). 토큰 기준 self. **clinic 정보는 enroll 시점 스냅샷이며 LMP 변경을 자동 sync하지 않는다**(7/9 R3) — 본 API는 (재)enroll 외 수동 보정용. 수집 필드셋 확정(name·countryCode·address·phone·website).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClinicInfo' }
      responses:
        '200': { description: 갱신됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/me/region:
    put:
      operationId: putClinicMeRegion
      security:
      - deviceAuth: []
      tags: [ clinics ]
      summary: 내 clinic 접속 리전 설정 — device self(EzServer Console) (FR-RGN-04) [v1.0 · gw/1.2 확장]
      description: >-
        EzServer Console에서 자기 clinic의 접속 GW 리전을 설정/변경(현장에선 사실상 C/S 조작). mapping_version++·전건 감사.
        v1.0: 단일 리전이라 실질 no-op. gw/1.2: 다중 리전에서 유효 — 국경 간 변경은 재동의·주권 재평가(FR-COMP-02) 가드레일
        TBD(Appendix B). 기존 PHI는 옛 리전 잔류(자동 이관 없음).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ region ]
              properties:
                region: { type: string, example: apne2 }
      responses:
        '200': { description: 변경됨(감사 동반) }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/me/org-bindings:
    post:
      operationId: postClinicMeOrgBindings
      security:
      - deviceAuth: []
      tags: [ clinics ]
      summary: 내 clinic 외부 target Org-ID 자가 등록 — device self(연동 켤 때) (FR-INT-*) [v1.0]
      description: >-
        클리닉(자기)이 외부 연동(예 AXS)을 켤 때 그 target의 Org-ID를 등록 → org_mapping((target,
        Org-ID)→clinic·webhook 분배 키). Org-ID는 target 온보딩에서 발급(§2.3.4·④). **경우 A(이미 연동)=보유
        Org-ID로 즉시 등록 / 경우 B(미연동)=AXS link 프록시로 Org-ID 획득 후 등록 — 두 경우 모두 본 엔드포인트로 수렴**(GW 고유 API는
        Org-ID만 필요·case-agnostic; link는 프록시 레일). 토큰 기준 self. 운영자 교정은 POST /v1/admin/org-mappings.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrgBinding' }
      responses:
        '201': { description: 등록됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # ═══════════════════ OPERATOR PLANE (/v1/admin/*, operatorAuth+RBAC) — Admin/C-S가 GW Console에서 호출. 전부 Entra OIDC Bearer 요청별 검증(7/9 R2=Entra·§7.1.4) ═══════════════════

  # --- 운영자 자기 정보 (로그인 후 Console UI 신원·역할 조회) ---

  /v1/admin/me:
    get:
      operationId: getAdminMe
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 현재 운영자 신원·역할·상태 조회 — Console UI 부트스트랩 (FR-AUTH-08·09) [v1.0]
      description: >-
        로그인한 운영자 자신의 신원·**GW가 부여한 실효 역할·접근 상태**를 반환한다 — Console이 메뉴·권한을 렌더하는 부트스트랩용(7/9 R2 A방안).
        **authN=Entra SSO, authz=GW DB**: `operatorAuth`(요청별 Entra JWKS 검증)로 신원(subject)만 확인하고, **역할은 GW `operator_role`(status=active)에서 조회**(토큰 claim 에코 아님·§7.1.4·§7.9.2). 첫 SSO면 GW가 operator를 **JIT 생성**한다.
        **accessState**: `active`(실효 역할 ≥1) / `no_access`(로그인은 되나 역할 0 → Console "권한 요청" 화면) / `suspended`(정지). `no_access`면 Console은 `POST /v1/admin/me/access-requests`로 역할 요청 화면을 띄운다.
      responses:
        '200':
          description: 현재 운영자 신원·역할
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperatorMe'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 운영자 인가(RBAC) 관리 (§7.1.4·§7.9.2 · 7/9 R2 A: authN=Entra SSO · authz=GW) ---

  /v1/admin/me/access-requests:
    post:
      operationId: postAdminMeAccessRequests
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 본인 권한(역할) 요청 — 미등록/추가 권한 (FR-ADM-02) [v1.0]
      description: >-
        로그인은 됐으나 실효 역할이 없거나(no_access) 추가 역할이 필요한 운영자가 역할을 **멀티 요청**한다(§7.9.2·7/9 R2 A). 각 역할이 `operator_role` status=requested로 생성돼 **Admin 승인 큐**(GET /v1/admin/access-requests)에 오른다. Admin 알림은 Console/OOB(③-C).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AccessRequestCreate' }
      responses:
        '201': { description: 요청됨(승인 대기) }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/operators:
    get:
      operationId: getAdminOperators
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 운영자 목록 조회 — Admin (FR-ADM-02) [v1.0]
      description: 운영자(사내 직원) 목록·상태·실효 역할 조회(Admin 전용·§7.9.2).
      parameters:
      - name: status
        in: query
        description: 운영자 상태 필터(정확 일치)
        schema: { type: string, enum: [ active, suspended ] }
      - name: role
        in: query
        description: 역할 보유 필터(정확 일치·예 cs)
        schema: { type: string, example: cs }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션)
        schema: { type: integer, default: 50, maximum: 200, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답 nextCursor 그대로)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 운영자 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operator'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/operators/{operatorId}:
    parameters:
    - name: operatorId
      in: path
      required: true
      schema: { type: string, example: op_7f3a2b1c }
    get:
      operationId: getAdminOperatorsById
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 운영자 단건 조회(+역할·요청 이력) — Admin (FR-ADM-02) [v1.0]
      description: 단일 운영자 신원·상태·역할/요청 이력 조회(Admin·§7.9.2).
      responses:
        '200':
          description: 운영자
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Operator' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      operationId: patchAdminOperatorsById
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 운영자 상태 변경(정지/복구) — Admin·오프보딩 (FR-ADM-02) [v1.0]
      description: >-
        운영자 status(active↔suspended) 변경(§7.9.2). suspended=역할 무관 접근 차단(오프보딩·Entra 비활성과 병행). 감사 action=operator.status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ status ]
              properties:
                status: { type: string, enum: [ active, suspended ], example: suspended }
      responses:
        '200': { description: 변경됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/operators/{operatorId}/roles:
    parameters:
    - name: operatorId
      in: path
      required: true
      schema: { type: string, example: op_7f3a2b1c }
    post:
      operationId: postAdminOperatorRoles
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 운영자 역할 직접 부여 — Admin (FR-ADM-02) [v1.0]
      description: >-
        Admin이 운영자에게 역할을 직접 부여한다(요청 없이 즉시 active·§7.9.2). CS=global(전 클리닉). 감사 action=operator.role.grant.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleGrantCreate' }
      responses:
        '201': { description: 부여됨(active) }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/operators/{operatorId}/roles/{grantId}:
    parameters:
    - name: operatorId
      in: path
      required: true
      schema: { type: string, example: op_7f3a2b1c }
    - name: grantId
      in: path
      required: true
      schema: { type: string, example: grt_7f3a2b1c }
    patch:
      operationId: patchAdminOperatorRole
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 역할 부여 결정(승인/거부/회수) — Admin (FR-ADM-02) [v1.0]
      description: >-
        요청(requested)을 **승인(active)/거부(rejected)** 하거나 부여된(active) 역할을 **회수(revoked)** 한다(§7.9.2). 거부·회수는 행을 보존(감사). 감사 action=operator.role.decide.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleGrantDecision' }
      responses:
        '200': { description: 반영됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/access-requests:
    get:
      operationId: getAdminAccessRequests
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 권한 요청 승인 큐 — Admin (FR-ADM-02) [v1.0]
      description: >-
        승인 대기(requested) 역할 요청을 운영자 횡단으로 조회한다(Admin 승인 큐·§7.9.2) — 각 항목은 operator + requested 역할. 승인/거부는 PATCH /v1/admin/operators/{operatorId}/roles/{grantId}.
      parameters:
      - name: limit
        in: query
        description: 페이지 크기
        schema: { type: integer, default: 50, maximum: 200, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답 nextCursor 그대로)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 승인 대기 요청 목록(operator + requested 역할)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Operator'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 디바이스 관리·enroll 승인 (§7.2·§7.8) ---

  /v1/admin/devices:
    get:
      operationId: getAdminDevices
      parameters:
      - name: status
        in: query
        description: 상태 필터(정확 일치)
        schema: { $ref: '#/components/schemas/DeviceStatus' }
      - name: clinicId
        in: query
        description: 클리닉 필터 — clinic_id 정확 일치(exact)
        schema: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션·§7.2.1)
        schema: { type: integer, default: 20, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답의 nextCursor 값을 그대로 전달·클라이언트가 직접 만들지 않음)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      security:
      - operatorAuth: []
      tags: [ devices ]
      summary: 디바이스 목록 조회 (FR-DEV-01) [v1.0]
      description: >-
        운영자(Console)가 디바이스 목록을 조회한다(상태·클리닉 필터·커서 페이지네이션·§7.2.1). 디바이스 레지스트리·lifecycle 운영·감사용.
      responses:
        '200':
          description: 디바이스 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      operationId: postAdminDevices
      security:
      - operatorAuth: []
      tags: [ devices ]
      summary: 디바이스 등록 (FR-DEV-01) [v1.0]
      description: >-
        운영자가 디바이스를 수동 등록한다 — **예외 경로**이며 주 생성은 EzServer enroll이 흡수한다(§2.3.1·일상 경로 아님). body는
        Device 스키마지만 **deviceId·clientId·status·createdAt/updatedAt은 GW가 생성/기본값**(운영자 미지정) — 운영자는
        clinicId(+선택 clientPublicKey)만 의미. 인증 자격 없는 device는 이후 자격 발급 필요.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/devices/{id}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      operationId: getAdminDevicesById
      security:
      - operatorAuth: []
      tags: [ devices ]
      summary: 디바이스 조회 (FR-DEV-01) [v1.0]
      description: '운영자가 단일 디바이스의 상세(상태·clinic·client_id·시각)를 조회한다.'
      responses:
        '200':
          description: 디바이스
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      operationId: patchAdminDevicesById
      security:
      - operatorAuth: []
      tags: [ devices ]
      summary: lifecycle 상태 전이 (FR-DEV-03, pending→active→suspended→revoked) [v1.0]
      description: >-
        디바이스 lifecycle 전이. **pending→active는 C/S enrollment 승인 게이트**
        (현장 설치 담당 C/S만 승인 = 부트스트랩 신뢰 앵커, §2.3.1·§7.2.5·§7.9.2).
        모든 전이는 승인자·시각 감사(§7.9.3).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/DeviceStatus'
      responses:
        '200':
          description: 갱신됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 클리닉 관리 (§7.3 · list/read/create/update·region) ---

  /v1/admin/clinics:
    get:
      operationId: getAdminClinics
      security:
      - operatorAuth: []
      tags: [ clinics ]
      summary: 클리닉 목록 조회 — 운영자(커서 페이지네이션) (FR-RGN-06) [v1.0]
      description: '운영자(Console)가 클리닉 목록을 조회한다(region 필터·커서 페이지네이션·§7.2.1). fleet 클리닉 관리·검색용. clinic은 lifecycle status가 없다(device와 달리 상태 필터 없음).'
      parameters:
      - name: region
        in: query
        description: 리전 필터 — region_catalog.regionId 정확 일치(exact)
        schema: { type: string, example: apne2 }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션·§7.2.1)
        schema: { type: integer, default: 20, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답의 nextCursor 값을 그대로 전달·클라이언트가 직접 만들지 않음)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 클리닉 목록
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/Clinic' } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      operationId: postAdminClinics
      security:
      - operatorAuth: []
      tags: [ clinics ]
      summary: 클리닉 수동 등록·교정 — 운영자(예외 경로·주=enroll) (FR-RGN-06) [v1.0]
      description: >-
        클리닉 존재·초기 region은 EzServer enroll이 자동 확립(§2.3.1). 본 엔드포인트는 운영자의 예외적 수동 등록·교정용(일상 경로 아님).
        region 변경은 PUT /v1/admin/clinics/{clinicId}/region.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClinicRegistration' }
      responses:
        '201': { description: 등록됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/clinics/{clinicId}:
    parameters:
      - name: clinicId
        in: path
        required: true
        schema: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
    get:
      operationId: getAdminClinicsById
      security:
      - operatorAuth: []
      tags: [ clinics ]
      summary: 클리닉 단건 조회 — 운영자 (FR-RGN-06) [v1.0]
      description: '운영자가 단일 클리닉의 상세(region·이름·국가·연락처·mappingVersion·시각)를 조회한다.'
      responses:
        '200':
          description: 클리닉 레코드
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Clinic' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      operationId: patchAdminClinicsById
      security:
      - operatorAuth: []
      tags: [ clinics ]
      summary: 클리닉 정보 교정 — 운영자 (FR-RGN-06) [v1.0]
      description: >-
        운영자가 클리닉 표시·연락 정보(ClinicInfo)를 교정한다. region 변경은 PUT /v1/admin/clinics/{clinicId}/region.
        device 자가 보정은 PATCH /v1/clinics/me. **clinic 정보는 enroll 스냅샷·LMP 자동 sync 아님(7/9 R3)** — 본 교정은 Console 표시 정확성용 수동 조작.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClinicInfo' }
      responses:
        '200': { description: 갱신됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/clinics/{clinicId}/region:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
        example: d3f1a9c07b6e4258af31c9d2e0b4a687
    put:
      operationId: putAdminClinicsByClinicIdRegion
      security:
      - operatorAuth: []
      tags: [ clinics ]
      summary: 클리닉 접속 리전 교정 — 운영자 (FR-RGN-04) [v1.0 · gw/1.2 확장]
      description: >-
        운영자가 클리닉의 접속 GW 리전을 교정한다. mapping_version++·감사. device 자가 설정은 PUT /v1/clinics/me/region.
        v1.0 단일 리전이라 실질 no-op·gw/1.2 다중 리전에서 유효(국경 간=재동의·주권 재평가 TBD·FR-COMP-02). 기존 PHI 옛 리전 잔류.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ region ]
              properties:
                region: { type: string, example: apne2 }
      responses:
        '200': { description: 변경됨(감사 동반) }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 디바이스 긴급 정지(kill)·감사 로그 조회 (§7.8.2·§7.9) ---

  /v1/admin/clinics/{clinicId}/devices:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
        example: d3f1a9c07b6e4258af31c9d2e0b4a687
    get:
      operationId: getAdminClinicDevices
      security:
      - operatorAuth: []
      tags: [ devices ]
      summary: 클리닉 소속 디바이스 목록 — 운영자 (FR-DEV-01) [v1.0]
      description: >-
        운영자(Console)가 특정 클리닉에 소속된 디바이스 목록을 조회한다 — clinic↔device **1:N 관계의 자연 표현**
        (clinic 상세 화면의 하위목록용·③-C·Appendix B #47). 결과는 GET /v1/admin/devices?clinicId= 와 동일하나
        경로로 소속 관계를 일급화. 상태 필터·커서 페이지네이션(§7.2.1).
      parameters:
      - name: status
        in: query
        description: 상태 필터(정확 일치)
        schema: { $ref: '#/components/schemas/DeviceStatus' }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션·§7.2.1)
        schema: { type: integer, default: 20, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답의 nextCursor 값을 그대로 전달·클라이언트가 직접 만들지 않음)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 디바이스 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/clinics/{clinicId}/clients:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
    get:
      operationId: getAdminClinicClients
      security:
      - operatorAuth: []
      tags: [ clinics ]
      summary: 클리닉 앞단 클라이언트 SW 인벤토리 조회 — 운영자 (FR-FLEET-06) [v1.0]
      description: >-
        운영자가 해당 클리닉에서 관측된 앞단 클라이언트(CleverOne 등)의 **SW 버전·OS 인벤토리**를 조회한다(§7.8.5) — 오랜 숙원인 "각 클리닉에 깔린 SW 버전" 가시성.
        `Vatech-*` 헤더 관측이며 **식별 id 없음**이라 (product, version, os) **튜플 단위**·`lastSeen` 정체=업그레이드/제거 추정이다(대수 아님·버전 presence). product 필터·staleOnly(오래 안 보인 것)·커서 페이지네이션. EzServer 자신은 GET /v1/admin/fleet(버전·OS).
      parameters:
      - name: product
        in: query
        description: product 필터 — 정확 일치(예 CleverOne)
        schema: { type: string, example: CleverOne }
      - name: staleOnly
        in: query
        description: lastSeen 임계 초과(정체·구버전 잔존 추정)만 (boolean 토글·필터 아님)
        schema: { type: boolean, default: false, example: true }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션·§7.9.1)
        schema: { type: integer, default: 50, maximum: 200, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답의 nextCursor 값을 그대로 전달·클라이언트가 직접 만들지 않음)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 클라이언트 SW 인벤토리 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClientInventory'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/devices/{id}/kill:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    post:
      operationId: postAdminDevicesByIdKill
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: kill-switch(긴급·영구 정지 → revoked) (FR-FLEET-02) [v1.0]
      description: >-
        운영자가 디바이스를 **긴급·영구 정지**한다(kill-switch·FR-FLEET-02).

        1. **GW 서비스 거부**: status=**revoked** 전이 + denylist 즉시 전파(강한 일관성·§7.2.4)로 **이미 발급된 단명 토큰도 만료 전 차단**하고, 이후 토큰 발급·API 호출을 전면 거부한다.

        2. **되돌릴 수 없다(revoked=종단·복구 불가·§7.2.3)**: 다시 서비스하려면 kill 해제가 아니라 **재-enroll**(§7.2.7 — device_id 유지·새 client_id 발급·C/S 재승인)이다. **잠깐 막았다 재개할 목적이면 kill이 아니라 suspend**(PATCH /v1/admin/devices/{id} → status=suspended·복구 가능)를 쓴다.

        승인자·시각 감사(§7.9.3).
      responses:
        '200':
          description: 즉시 정지됨
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/audit:
    get:
      operationId: getAdminAudit
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 감사 로그 조회(경량) (FR-AUD-01) [v1.0]
      description: >-
        운영자가 append-only 감사 로그(audit_log·§7.9.3·IEC 62304/ISO 13485)를 조회한다 — 행위자·동작·결과·시각 범위 필터 +
        커서 페이지네이션(§7.9.1). 쓰기 API 없음(조회 전용). 필터 축은 DBML 인덱스(ts·actor·action)와 정합. 고급 분석·집계·리포트는 LLD/③-C에서 확장.
      parameters:
      - name: actor
        in: query
        description: 행위자 필터 — `type:id`(user/system/device) 정확 일치(exact)
        schema: { type: string, example: user:entra-8f3a }
      - name: action
        in: query
        description: 동작 필터 — `resource.verb` 정확 일치(exact)
        schema: { type: string, example: region.change }
      - name: result
        in: query
        description: 결과 필터(정확 일치)
        schema: { type: string, enum: [ success, denied, failure ] }
      - name: from
        in: query
        description: 이 시각 이후(Unix ms·시각 범위 하한)
        schema: { type: integer, format: int64, example: 1720137600000 }
      - name: to
        in: query
        description: 이 시각 이전(Unix ms·시각 범위 상한)
        schema: { type: integer, format: int64, example: 1720224000000 }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션·§7.9.1)
        schema: { type: integer, default: 50, maximum: 200, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답의 nextCursor 값을 그대로 전달·클라이언트가 직접 만들지 않음)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 감사 로그 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 라우팅·분배 지식 관리 (Console ③-C 호출) — DB가 보관하는 "어디로 분배" 정보 ---

  /v1/admin/org-mappings:
    get:
      operationId: getAdminOrgMappings
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 목록 조회 (webhook 라우팅 키·FR-INT-*) [v1.0]
      description: >-
        운영자가 (target_id, external_org_id)→clinic 매핑 목록을 조회한다(webhook 분배 1차 라우팅 키·§7.6) —
        targetId·clinicId·externalOrgId 필터 + 커서 페이지네이션(§7.9.1). 1차 입력은 클라이언트 자가 등록(§2.3.4).
      parameters:
      - name: targetId
        in: query
        description: 연동 대상(target) 필터 — 정확 일치(exact)
        schema: { type: string, example: axs }
      - name: clinicId
        in: query
        description: 대응 clinic 필터 — clinic_id 정확 일치(exact)
        schema: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
      - name: externalOrgId
        in: query
        description: target 발급 Org-ID 필터 — 정확 일치(exact)
        schema: { type: string, example: e407b34d-c4b0-4db3-bbcd-cc11770eae7b }
      - name: limit
        in: query
        description: 페이지 크기(커서 페이지네이션·§7.9.1)
        schema: { type: integer, default: 20, example: 20 }
      - name: cursor
        in: query
        description: 다음 페이지 커서 — 불투명 토큰(직전 응답의 nextCursor 값을 그대로 전달·클라이언트가 직접 만들지 않음)
        schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: 매핑 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrgMapping'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      operationId: postAdminOrgMappings
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 **교정(upsert/override)** — 1차 입력은 클라이언트 온보딩(자가 등록), 본 API는 오설정 수정용 (FR-INT-*) [v1.0]
      description: >-
        운영자가 Org-ID↔ClinicID 매핑을 교정한다 — 1차 입력은 클라이언트 온보딩 자가 등록(§2.3.4)이고 본 API는 오설정 교정용.
        **upsert**: 복합키 (targetId, externalOrgId)가 있으면 clinicId를 override(200)·없으면 신규 생성(201). mapping_version++·감사 기록.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMapping'
      responses:
        '200': { description: '교정됨(기존 매핑 override)' }
        '201': { description: 신규 등록됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      operationId: deleteAdminOrgMappings
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 삭제 — 연동 해지·오설정 제거 (복합키 targetId+externalOrgId·FR-INT-*) [v1.0]
      description: '운영자가 Org-ID↔ClinicID 매핑을 삭제한다(연동 해지·오설정 제거·복합키 targetId+externalOrgId).'
      parameters:
        - name: targetId
          in: query
          required: true
          schema: { type: string, example: axs }
          description: target 대상 라벨(=Vatech-Target)
        - name: externalOrgId
          in: query
          required: true
          schema: { type: string, example: e407b34d-c4b0-4db3-bbcd-cc11770eae7b }
          description: 'target 발급 외부 Org-ID(AXS=organizationId·UUID). 실제 형식·값은 7/9 R4 확정(#46)'
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- webhook 이벤트 조회 (Console 검색/필터, §7.6·§7.9.1) — GW 런타임 생성, write API 없음(조회 전용) ---

  /v1/admin/webhook-events:
    get:
      operationId: getAdminWebhookEvents
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: webhook 이벤트(메타) 검색/조회 — Console 운영·감사용 (PHI-free·payload는 payloadRef 참조·FR-WH-*) [v1.0]
      description: >-
        운영자가 webhook 이벤트 메타(PHI-free: target·event_type·org·clinic·region·state·시각)를
        검색·조회한다(Console 운영·감사·§7.6). 본문(payload)은 미포함 — payload_ref로 리전 S3 별도(claim-check).
      parameters:
        - name: targetId
          in: query
          schema: { type: string, example: axs }
          description: 발신 target 라벨 필터(정확 일치)
        - name: clinicId
          in: query
          schema: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
          description: 분배 대상 clinic 필터(정확 일치)
        - name: eventType
          in: query
          schema: { type: string, example: patient.created }
          description: target 원어 event_type 필터(정확 일치)
        - name: state
          in: query
          schema: { $ref: '#/components/schemas/WebhookEventState' }
          description: 처리 상태 필터(정확 일치)
        - name: from
          in: query
          schema: { type: integer, format: int64, example: 1720137600000 }
          description: 이 시각 이후(Unix ms·시각 범위 하한)
        - name: to
          in: query
          schema: { type: integer, format: int64, example: 1720224000000 }
          description: 이 시각 이전(Unix ms·시각 범위 상한)
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200, example: 20 }
        - name: cursor
          in: query
          schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
          description: 페이지네이션 커서
      responses:
        '200':
          description: webhook 이벤트 메타 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookEvent'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/webhook-events/{eventId}:
    parameters:
    - name: eventId
      in: path
      required: true
      description: 이벤트 식별자(멱등 키·dedup)
      schema: { type: string, example: c2f8aaf5-d6d1-4f8c-a4a8-c4e9b3cb3545 }
    get:
      operationId: getAdminWebhookEventById
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: webhook 이벤트 단건(메타) 조회 — DLQ·장애 triage (PHI-free·payload 미제공·FR-WH-*) [v1.0]
      description: >-
        운영자가 eventId로 단일 webhook 이벤트의 **메타**(state·attempts·lastError·dispatchTarget·시각 등)를 조회한다 — DLQ/장애 triage용.
        **payload 본문은 제공하지 않는다**(opaque·환자 PHI 포함 가능·§6.4·§7.6.3): 본문은 리전 로컬 S3(claim-check·짧은 TTL)에만 있고 소비자=클리닉 EzServer(MQTT 하행·§7.6.6)뿐이다. 본문 열람이 필요하면 별도 break-glass·redact·감사 경로(§7.6.3·Appendix B #36)로 다루며 본 API 범위 아님.
      responses:
        '200':
          description: webhook 이벤트 메타
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookEvent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/webhook-events/{eventId}/payload:
    parameters:
    - name: eventId
      in: path
      required: true
      description: 이벤트 식별자(멱등 키·dedup)
      schema: { type: string, example: c2f8aaf5-d6d1-4f8c-a4a8-c4e9b3cb3545 }
    get:
      operationId: getAdminWebhookEventPayload
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: webhook payload 원문 열람(redact) — break-glass·감사 (FR-WH-*) [v1.0]
      description: >-
        운영자가 특정 이벤트의 **본문(payload)** 을 열람한다 — 디버깅/재생 목적의 **break-glass** 경로.
        **GW가 중개**한다: 리전 로컬 GW가 자기 리전 S3(claim-check `payload_ref`)에서 읽어 **PHI 필드를 redact(마스킹)** 한 뒤 반환하며(§7.6.3·§6.4),
        **Console은 S3에 직접 접근하지 않는다**(브라우저 IAM 불가·RBAC/감사/주권/redact 우회 방지).
        **상위 RBAC(break-glass 역할) 필요**(§7.9.2·일반 operator는 403)·**전량 감사**(action=`webhook.payload.view`·§7.9.3).
        payload는 짧은 TTL이라 이벤트 없음 또는 만료 시 404. redact 필드·TTL 값은 Appendix B #36.
      responses:
        '200':
          description: redact 적용된 payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/WebhookPayloadView' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- fleet 상태 조회 (§7.8, 대시보드) — device push heartbeat로 갱신, 조회 전용 ---

  /v1/admin/fleet:
    get:
      operationId: getAdminFleet
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: fleet liveness/rollout 상태(heartbeat·버전·online) 조회 — 운영 대시보드 (fleet_state·FR-FLEET-01) [v1.0]
      description: >-
        운영자가 fleet liveness/rollout 상태(마지막 heartbeat·보고 SW 버전·파생 online)를 조회한다(운영 대시보드·fleet_state·FR-FLEET-01). clinicId(device 조인)·staleOnly(online=false)로 필터. **성공률·오류 분포(FR-FLEET-03·P2)는 관측 metric(§7.8.3·§6.3.2·Grafana) 소관이며 본 API가 반환하지 않는다**(rate는 counter를 백엔드가 시간창·다중인스턴스 집계).
      parameters:
        - name: clinicId
          in: query
          schema: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
          description: clinic 필터(정확 일치)
        - name: staleOnly
          in: query
          schema: { type: boolean, default: false, example: true }
          description: last_heartbeat 임계 초과(정체) 디바이스만 (boolean 토글·필터 아님)
        - name: limit
          in: query
          schema: { type: integer, default: 50, maximum: 200, example: 20 }
        - name: cursor
          in: query
          schema: { type: string, example: eyJkIjoiMDE5MjBhN2IifQ }
      responses:
        '200':
          description: fleet 상태 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FleetState'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 연동 대상(target) 통합 관리 (§7.5·§7.6·§7.1.3, Console ③-C) — 라우팅+자격+webhook 수신 한 레코드 ---

  /v1/admin/targets:
    get:
      operationId: getAdminTargets
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 연동 대상(target) 목록 조회 (라우팅·자격·webhook 수신 통합) (FR-INT-01/02·FR-WH-01/02) [v1.0]
      description: >-
        운영자가 등록된 연동 대상(target) **전체 목록**을 조회한다. **소규모 카탈로그**(v1.0=1개 `axs`·향후 소수 `cleverspace` 등)라 페이지네이션·필터 없음(region 카탈로그와 동일 패턴). credential_ref·secret_ref는 **KMS 참조만** 반환(시크릿 원문 미노출·§6.2).
      responses:
        '200':
          description: target 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Target'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      operationId: postAdminTargets
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: target 등록/갱신(upsert) — **연동 하나=1 레코드**(라우팅+자격+webhook 수신)·감사 action=target.upsert (FR-INT-01/02·FR-WH-01/02) [v1.0]
      description: >-
        운영자가 연동 대상(target)을 **upsert**한다 — 라우팅+아웃바운드 자격+인바운드 webhook 수신을 한 레코드로(구 3표
        병합·§7.5·§7.6). **PK `targetId`가 있으면 갱신(200)·없으면 생성(201)**. credential·secret은 KMS 저장(원문 미노출·§6.2). 감사 action=target.upsert.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Target'
      responses:
        '200': { description: '갱신됨(기존 target override)' }
        '201': { description: 신규 등록됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/targets/{targetId}:
    parameters:
    - name: targetId
      in: path
      required: true
      schema: { type: string, example: axs }
    get:
      operationId: getAdminTargetsByTargetId
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: target 단건 조회 — Console 편집 폼 프리필 (FR-INT-01/02·FR-WH-01/02) [v1.0]
      description: '단일 연동 대상(target)의 전체 설정을 조회한다(편집 폼 프리필·목록과 일관). credential_ref·secret_ref는 KMS 참조만(원문 미노출·§6.2).'
      responses:
        '200':
          description: target 레코드
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Target' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      operationId: deleteAdminTargetsByTargetId
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: target 삭제 — 해당 연동 전체(라우팅·자격·webhook 수신) 제거·감사 action=target.delete (FR-INT-01/02·FR-WH-01/02) [v1.0]
      description: >-
        운영자가 target을 삭제한다 — 해당 연동 전체(라우팅·자격·webhook 수신) 제거. 감사 action=target.delete.
        **종속 참조가 있으면 409**(`org_mapping`·`policy`·`webhook_event`가 targetId를 FK 참조·§6.4.1) — 먼저 매핑/정책을 정리해야 삭제 가능(연동 사용 중 오삭제·orphan 방지).
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 중앙 Config 관리 (§7.8.4, Console ③-C 호출) — (scope,key,value) CRUD ---

  /v1/admin/config:
    get:
      operationId: getAdminConfig
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 중앙 config 항목 조회 (FR-CFG-01) [v1.0]
      description: 스코프·키로 필터. device에 실제 적용되는 실효값은 device의 GET /v1/fleet/config
      parameters:
      - name: scopeType
        in: query
        schema: { type: string, enum: [ global, region, clinic, device ] }
      - name: scopeId
        in: query
        description: >-
          부착 스코프 대상 id — **형식이 scopeType에 종속**(정확 일치).
          global=scopeId 생략 / region=regionId / clinic=clinicId(32자) / device=deviceId(UUID).
          아래 examples에서 scopeType에 맞는 것 선택.
        schema: { type: string }
        examples:
          region: { summary: 'scopeType=region (regionId)', value: apne2 }
          clinic: { summary: 'scopeType=clinic (clinicId 32자)', value: d3f1a9c07b6e4258af31c9d2e0b4a687 }
          device: { summary: 'scopeType=device (deviceId UUID)', value: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60 }
      - name: configKey
        in: query
        description: config 키(정확 일치)
        schema: { type: string, example: gw.heartbeat.interval_seconds }
      responses:
        '200':
          description: config 항목 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConfigEntry'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    put:
      operationId: putAdminConfig
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 중앙 config 항목 upsert(등록/갱신) — (scopeType, scopeId, configKey) 단위 (FR-CFG-01) [v1.0]
      description: 값 변경 시 version 증가. 감사 action=config.publish(§7.9.3)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigEntry'
      responses:
        '200':
          description: upsert됨(갱신 후 항목)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigEntry'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      operationId: deleteAdminConfig
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 중앙 config 항목 삭제 — (scopeType, scopeId, configKey) 지정 (FR-CFG-01) [v1.0]
      description: '운영자가 중앙 config 항목을 삭제한다((scopeType, scopeId, configKey) 지정·FR-CFG-01·§7.8.4).'
      parameters:
      - name: scopeType
        in: query
        required: true
        schema: { type: string, enum: [ global, region, clinic, device ] }
      - name: scopeId
        in: query
        description: >-
          부착 스코프 대상 id — **형식이 scopeType에 종속**(정확 일치).
          global=scopeId 생략 / region=regionId / clinic=clinicId(32자) / device=deviceId(UUID).
          아래 examples에서 scopeType에 맞는 것 선택.
        schema: { type: string }
        examples:
          region: { summary: 'scopeType=region (regionId)', value: apne2 }
          clinic: { summary: 'scopeType=clinic (clinicId 32자)', value: d3f1a9c07b6e4258af31c9d2e0b4a687 }
          device: { summary: 'scopeType=device (deviceId UUID)', value: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60 }
      - name: configKey
        in: query
        required: true
        schema: { type: string, example: gw.heartbeat.interval_seconds }
      responses:
        '204':
          description: 삭제됨
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 정책 관리 (§7.5.3·FR-INT-03, Console ③-C) — GW는 deny-by-default라 v1.0 필수(허용 정책 없으면 프록시 전면 거부) ---

  /v1/admin/policies:
    get:
      operationId: getAdminPolicies
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 정책 조회 (scope·target 필터) (FR-INT-03) [v1.0]
      description: >-
        운영자가 정책을 조회한다(scope·target 필터·FR-INT-03). GW는 deny-by-default라 본 표가 허용 정책의 SSOT.
      parameters:
      - name: scopeType
        in: query
        schema: { type: string, enum: [ global, clinic, device ] }
      - name: scopeId
        in: query
        description: >-
          부착 스코프 대상 id — **형식이 scopeType에 종속**(정확 일치).
          global=scopeId 생략 / clinic=clinicId(32자) / device=deviceId(UUID).
          **policy는 region 스코프 없음**(config와 상이). 아래 examples에서 선택.
        schema: { type: string }
        examples:
          clinic: { summary: 'scopeType=clinic (clinicId 32자)', value: d3f1a9c07b6e4258af31c9d2e0b4a687 }
          device: { summary: 'scopeType=device (deviceId UUID)', value: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60 }
      - name: targetId
        in: query
        schema: { type: string, example: axs }
        description: 'target 대상(정확 일치)'
      responses:
        '200':
          description: 정책 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Policy'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      operationId: postAdminPolicies
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 정책 등록/갱신(upsert) — allowed_endpoints·scopes. 감사 action=policy.update (FR-INT-03) [v1.0]
      description: >-
        운영자가 정책을 등록/갱신(upsert)한다(allowed_endpoints·scopes). deny-by-default라 v1.0 필수(허용 정책 없으면 프록시
        전면 거부). v1.0 집행=coarse(target 사용 허용까지·§7.5.3). 감사 action=policy.update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Policy'
      responses:
        '201': { description: 등록됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/policies/{id}:
    parameters:
    - name: id
      in: path
      required: true
      description: 정책 id
      schema: { type: string, example: pol_7f3a2b1c }
    delete:
      operationId: deleteAdminPoliciesById
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 정책 삭제. 감사 action=policy.delete [v1.0]
      description: '운영자가 정책을 삭제한다 — 삭제 시 그 대상은 deny-by-default로 회귀. 감사 action=policy.delete.'
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- GW 운영 리전 카탈로그 관리 (§7.3.6·FR-RGN-06, 운영자) — 조회는 GET /v1/regions. v1.0=1행(시드 가능)·gw/1.2 다행 ---

  /v1/admin/regions:
    post:
      operationId: postAdminRegions
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 리전 카탈로그 등록 (region 개통) (FR-RGN-06) [v1.0 · gw/1.2 확장]
      description: >-
        운영자가 리전 카탈로그에 리전을 개통(등록)한다(FR-RGN-06·§7.3.6). **v1.0**: 1행 시드(예 서울) — 실질적 다중 리전 개통은
        **gw/1.2**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
      responses:
        '201': { description: 등록됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/admin/regions/{regionId}:
    parameters:
    - name: regionId
      in: path
      required: true
      schema: { type: string, example: apne2 }
    put:
      operationId: putAdminRegionsByRegionId
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 리전 상태·속성 변경 (active/draining/planned 전이 등) (FR-RGN-06) [v1.0 · gw/1.2 확장]
      description: >-
        운영자가 리전 상태·속성을 변경한다(active/draining/planned 전이 등·FR-RGN-06). draining=신규 배정 중단·기존 유지. **다중
        리전 운영은 gw/1.2**.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Region'
      responses:
        '200': { description: 변경됨 }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    delete:
      operationId: deleteAdminRegionsByRegionId
      security:
      - operatorAuth: []
      tags: [ admin ]
      summary: 리전 회수(드묾 — draining 후) (FR-RGN-06) [gw/1.2]
      description: '운영자가 리전을 회수한다(드묾·draining 후). **다중 리전(gw/1.2)** 운영 맥락 — v1.0 단일 리전에선 사실상 미사용.'
      responses:
        '204': { description: 삭제됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # ═══════════════════ PUBLIC PLANE — 외부 발신자(webhookHmac)·공개 well-known · security:[] ═══════════════════

  # --- Webhook 수신 (§7.6·§4.1.3) — {target}.webhook.gw.vatech.com Host/SNI로 식별. 경로/스키마는 target 규약 수용·유연(아래 예시). GW는 발신자 HMAC 검증·라우팅만, payload 비해석 ---

  /v1/webhooks/{target}:
    post:
      operationId: postWebhooksByTarget
      tags: [ webhooks ]
      security:
      - webhookHmac: []
      summary: 외부 이벤트 Webhook 수신 (FR-WH-01~05) — target별 전용 호스트로 식별, 경로/형식 유연(예시) [v1.0]
      description: >-
        **발신자 식별 = target별 전용 호스트**(`{target}.webhook.gw.vatech.com`, Host/SNI → 레지스트리 inbound_host, §7.6.2) — source IP 비의존. 아래 경로 `/v1/webhooks/{target}`와 스키마는 **예시**이며 확정 계약이 아니다(target 규약 수용·유연, §4.1.3). **신뢰(인증) = HMAC + timestamp**(호스트명은 식별이지 인증 아님); source IP allowlist는 옵션. GW는 멱등(eventId)·라우팅만 하며 payload는 소비자가 해석한다(opaque, ④/AXS 스냅샷 참조).
      parameters:
      - name: target
        in: path
        required: true
        description: >-
          target 라벨(=Vatech-Target·서브도메인). **레지스트리(`target.inbound_host`) 기반 검증 — enum/하드코딩
          금지·런타임 등록**(§7.6.1). 미등록 라벨=404. axs는 예시일 뿐 고정 목록 아님(cleverspace 등 확장)
        schema:
          type: string
          pattern: '^[a-z0-9_]+$'
          example: axs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEnvelope'
      responses:
        '202':
          description: >-
            수신 ACK(Accepted) — 검증 직후 즉시 응답하고 처리는 내부 비동기 큐로 위임(FR-WH-04·§7.6.3). 중복 eventId도 2xx(멱등·재처리 안 함·FR-WH-03).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 호환성 공시 (§7.7) ---

  /.well-known/{env}/server-configuration.json:
    parameters:
    - name: env
      in: path
      required: true
      description: 환경 식별자
      schema:
        type: string
        example: production
    get:
      operationId: getWellKnownByEnvServerConfiguration
      tags: [ compatibility ]
      summary: 런타임 버전·호환성 공시 (FR-COMPAT-02) [v1.0]
      description: 스키마·샘플은 design/well-known/ 참조. 버전 프리픽스 없이 표준 관례로 노출(§4.1.2-5)
      security: []
      responses:
        '200':
          description: 서버 구성(호환성 매트릭스 공시)
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    deviceAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        **디바이스 인증(데이터 플레인)** — EzServer가 private_key_jwt로 `/v1/auth/token`에서 발급받은 단명 access
        token(§7.1.1·ADR-13). 디바이스가 호출하는 API에 사용. 프록시 호출은 target 서브도메인 라우팅(§4.1.2).
    operatorAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        **운영자(Console) 인증(컨트롤 플레인)** — 직원 IdP(MS365/Entra) OIDC 토큰(§7.1.4). Admin/C-S가 호출하는 관리·콘솔
        API에 사용. 역할(Admin/C-S)=IdP claim→RBAC(§7.9.2).
    webhookHmac:
      type: apiKey
      in: header
      name: X-Signature
      description: >-
        **Webhook HMAC 서명 검증(발신자 인증)** — 외부 발신자(v1.0=AXS)가 payload를 target별 시크릿으로 HMAC
        서명(§7.6.2). GW가 `target.secret_ref`(KMS)로 검증 + timestamp replay 방지. **실제 서명 헤더명·알고리즘은
        target 규약(`sig_scheme`)** 이라 발신자별로 다름(여기 `X-Signature`는 예시). source IP allowlist는 옵션.
        bearer 토큰 아님.

  headers:
    VatechErrorOrigin:
      description: 오류 책임 주체 — gateway(GW 생성) | target(대상 서버 자체 오류, verbatim 통과). §7.7.4
      schema: { type: string, enum: [ gateway, target ] }
    RetryAfter:
      description: 재시도 권고(초). 429·503에서 부여
      schema: { type: integer }
    VatechTargetLatencyMs:
      description: 프록시 시 target 응답 지연(관측, §7.5.4)
      schema: { type: integer, format: int64 }

  responses:
    BadRequest:
      description: 요청 형식·검증 오류 (400)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: 인증 실패 — 토큰·서명·자격·timestamp (401)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: 권한 부족 — scope·RBAC·정책 거부 (403)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 리소스 없음 / 미등록 (404)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: 멱등 충돌 / 중복 등록 / 상태 전이 위반 (409)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: rate limit 초과 (429)
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    # --- 프록시(B/C) 전용 — GW 생성 오류. 특정 경로가 아니라 target 서브도메인 proxy 공통(§7.5.4·§7.7.4). ---
    # --- target 자체 4xx/5xx는 본 응답을 쓰지 않고 원응답을 verbatim 통과(Vatech-Error-Origin: target). ---
    # --- ※ 아래 Target* 응답·ProxyError 스키마·Vatech* 헤더는 프록시 경로가 OpenAPI에 정의되지 않아(bypass, §4.1.1) '정의만·미참조'다 → redocly `no-unused-components` 경고는 **의도된 것**(프록시 핸들러 구현 계약 참조용). ---
    TargetUnreachable:
      description: target 연결 실패(거부·DNS·TLS) — GW 연결 timeout·GW 정규화 (502)
      headers:
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }
    TargetUnavailable:
      description: 서킷 개방(mesh/istio) / target 일시 불가 — GW 정규화 (503)
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }
    TargetTimeout:
      description: target 응답 지연 — GW 연결 timeout(response/total_deadline, D2/D3) 초과·GW 정규화 (504)
      headers:
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }

  parameters:
    DeviceId:
      name: id
      in: path
      required: true
      description: device_id (UUIDv7·§7.2.1)
      schema:
        type: string
        format: uuid
        example: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60

  schemas:
    # 공통 오류 envelope (GW 생성 — §7.7.4). 프록시 target 자체 오류는 verbatim이라 미적용.
    Error:
      type: object
      required: [ errorCode ]
      properties:
        errorCode: { type: string, description: '표준 오류코드(§7.7.4)', example: COMPAT_CLIENT_TOO_OLD }
        message: { type: string, example: '클라이언트 업데이트가 필요합니다.' }
        requestId: { type: string, description: '상관 추적용 ID(§6.3.2)', example: req_9f2a7c1b3d }
        details: { type: object, description: '필드 검증 오류 등 부가 정보', example: { field: clientId, reason: required } }
      description: 'GW 표준 오류 응답 본문(§7.7.4)'
    # 인증
    TokenRequest:
      type: object
      required: [ clientId, clientAssertion ]
      description: >-
        디바이스 머신 인증 = OAuth2 client_credentials + private_key_jwt(비대칭, ADR-13·§7.1.1).
        공유 client_secret 미사용 — 디바이스 개인키로 서명한 JWT assertion을 GW가 등록된 공개키(clientPublicKey)로 검증.
      properties:
        clientId:
          type: string
          example: gwc_Qk9y3Zx1aB2cD3eF4gH5iJ
        clientAssertionType:
          type: string
          description: RFC 7523 고정값
          default: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'
          example: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'
        clientAssertion:
          type: string
          description: 디바이스 개인키로 서명한 JWT assertion(소지 증명). GW가 등록된 공개키(clientPublicKey)로 검증(§7.1.1)
          example: eyJhbGciOiJSUzI1NiIsImtpZCI6ImV6LThmM2EyYiJ9.eyJpc3MiOiJnd2Nf...
        scope:
          type: string
          description: >-
            요청 권한 scope(공백 구분·형식 `{target}:{resource}.{action}`). **v1.0 미사용·예약(gw/1.1+ 세분화용)** — v1.0은 AXS + Org-ID가 데이터·작업 격리를 하므로 GW는 target 단위로만 굵게 인가하고 scope 세분화는 하지 않는다(§7.5.3). EzServer는 v1.0에 보내지 않아도 된다. 미래 활성화 시 정책/OPA가 검증(초과 403). axs는 예시일 뿐 엔드포인트가 AXS 전용이란 뜻 아님.
          example: axs:patient.read axs:study.write
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
          example: eyJhbGciOiJSUzI1NiJ9.eyJzdWIiOiIwMTkyMGE3Yi...
        expiresAt:
          type: integer
          format: int64
          description: Unix ms
          example: 1720224000000
        claims:
          type: object
          description: device_id·region·aud·TTL 강제 바인딩(§7.1.1)
          example: { deviceId: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60, region: apne2, aud: axs.gw.vatech.com }
    OperatorMe:
      type: object
      required: [ subject, accessState, roles ]
      description: >-
        현재 운영자 신원·**GW 부여 실효 역할·접근 상태** — GET /v1/admin/me. authN=Entra SSO(subject), authz=GW `operator_role`(status=active)에서 조회(§7.1.4·§7.9.2·7/9 R2 A).
      properties:
        subject: { type: string, description: 'Entra oid/sub(SSO 신원)', example: entra-8f3a2b1c }
        displayName: { type: string, nullable: true, description: 표시명(Entra claim), example: 홍길동 }
        email: { type: string, nullable: true, example: gd.hong@vatech.com }
        accessState:
          type: string
          enum: [ active, no_access, suspended ]
          description: 'active=실효 역할≥1 / no_access=로그인OK·역할0(권한 요청 화면) / suspended=정지'
          example: active
        roles:
          type: array
          description: 'GW 부여 실효 역할(operator_role status=active). 빈 배열=no_access'
          items: { $ref: '#/components/schemas/RoleGrant' }
          example: [ { role: cs, scopeType: global, status: active } ]

    RoleGrant:
      type: object
      required: [ role, status ]
      description: '운영자 역할 부여 1건(operator_role). RBAC 역할 + 데이터 스코프 + lifecycle.'
      properties:
        id: { type: string, description: 'grant id(승인/거부/회수 대상)', example: grt_7f3a2b1c }
        role: { type: string, enum: [ admin, developer, cs, operator ], description: '역할(소스코드 enum·operator_role_type·§7.9.2). 추가 시 DB enum+GW+Console 소스 동시 수정', example: cs }
        scopeType:
          type: string
          nullable: true
          enum: [ global, region, clinic ]
          description: '데이터 스코프(config/policy와 동일 다형). CS=global(전 클리닉). null→global'
          example: global
        scopeId: { type: string, nullable: true, description: 'global=null / region=regionId / clinic=clinicId', example: null }
        status:
          type: string
          enum: [ requested, active, rejected, revoked ]
          description: 'requested(승인 대기)·active(실효)·rejected(거부·보존)·revoked(회수)'
          example: active
        note: { type: string, nullable: true, description: '요청/결정 사유', example: 설치 지원 담당 }
        requestedAt: { type: integer, format: int64, nullable: true, example: 1720137600000 }
        decidedBy: { type: string, nullable: true, description: '승인/거부한 Admin(subject)', example: entra-admin-1 }
        decidedAt: { type: integer, format: int64, nullable: true, example: 1720138000000 }

    Operator:
      type: object
      required: [ id, subject, status ]
      description: '운영자(사내 직원) 신원 — Admin 관리 뷰(operator 테이블). authN=Entra SSO·authz=GW.'
      properties:
        id: { type: string, example: op_7f3a2b1c }
        subject: { type: string, description: 'Entra oid/sub', example: entra-8f3a2b1c }
        email: { type: string, nullable: true, example: gd.hong@vatech.com }
        displayName: { type: string, nullable: true, example: 홍길동 }
        status:
          type: string
          enum: [ active, suspended ]
          description: 'active(정상)/suspended(정지·오프보딩). 실효 역할 0이면 active여도 접근 no_access'
          example: active
        roles:
          type: array
          description: '부여/요청 역할 목록(active·requested·rejected·revoked)'
          items: { $ref: '#/components/schemas/RoleGrant' }
        createdAt: { type: integer, format: int64, description: '최초 로그인(JIT) 시각(Unix ms)', example: 1720137600000 }
        updatedAt: { type: integer, format: int64, example: 1720224000000 }

    AccessRequestCreate:
      type: object
      required: [ roles ]
      description: '본인 권한(역할) 요청 — POST /v1/admin/me/access-requests. 멀티 역할 요청 → 각 requested 생성 → Admin 승인 큐.'
      properties:
        roles:
          type: array
          minItems: 1
          description: '요청 역할 목록(멀티). 스코프 생략 시 global'
          items:
            type: object
            required: [ role ]
            properties:
              role: { type: string, enum: [ admin, developer, cs, operator ], example: cs }
              scopeType: { type: string, nullable: true, enum: [ global, region, clinic ], example: global }
              scopeId: { type: string, nullable: true, example: null }
          example: [ { role: cs }, { role: operator, scopeType: region, scopeId: apne2 } ]
        note: { type: string, nullable: true, description: '요청 사유(Admin 참고)', example: 호주 클리닉 설치 지원 }

    RoleGrantCreate:
      type: object
      required: [ role ]
      description: 'Admin 직접 역할 부여 — POST /v1/admin/operators/{operatorId}/roles(즉시 active).'
      properties:
        role: { type: string, enum: [ admin, developer, cs, operator ], example: cs }
        scopeType: { type: string, nullable: true, enum: [ global, region, clinic ], example: global }
        scopeId: { type: string, nullable: true, example: null }
        note: { type: string, nullable: true, example: CS 전 클리닉 관리 }

    RoleGrantDecision:
      type: object
      required: [ status ]
      description: 'Admin 결정 — PATCH …/roles/{grantId}. requested→active(승인)/rejected(거부), active→revoked(회수).'
      properties:
        status: { type: string, enum: [ active, rejected, revoked ], example: active }
        note: { type: string, nullable: true, example: 승인 }

    # 온보딩
    EnrollStartRequest:
      type: object
      required: [ bootstrap ]
      properties:
        bootstrap:
          type: string
          description: >-
            부트스트랩 신뢰 = LM 라이선스·Clinic-ID(EzServer가 설치 시 LMP에서 수신).
            공장 토큰/OOB 코드는 미도입(GW 사전 발급 토큰 없음). 최종 활성화는 C/S Console 승인(§2.3.1·§7.2.5).
            example의 LM-LIC 형식은 illustrative — LMP 라이선스 id 실제 형식 미확정(#43·LMP 실데이터 확인 대상)
          example: 'LM-LIC-8f3a2b1c:d3f1a9c07b6e4258af31c9d2e0b4a687'
        serial:
          type: string
          description: '대상 디바이스 시리얼(부트스트랩 식별). example는 illustrative — EzServer 시리얼 실제 형식 미확정(#46)'
          example: EZ-SN-2024-012345
    EnrollChallenge:
      type: object
      properties:
        nonce:
          type: string
          example: n_7f3a2b1c9d8e4f5a
        expiresAt:
          type: integer
          format: int64
          example: 1720137900000
    EnrollCompleteRequest:
      type: object
      required: [ nonceSignature, clientPublicKey ]
      properties:
        nonceSignature:
          type: string
          description: EzServer 개인키로 nonce 서명(소지 증명, §7.2.6)
          example: MEUCIQDf3a...base64sig...cQ==
        clientPublicKey:
          type: string
          description: >-
            EzServer 생성 키페어의 공개키(또는 key-id) = 디바이스 공개키(clientPublicKey). 물리 머신 지문 아님. 재설치 시 새
            키→재-enroll로 회전(§7.2.6·7.2.7)
          example: |-
            -----BEGIN PUBLIC KEY-----
            MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE...
            -----END PUBLIC KEY-----
        clinic:
          $ref: '#/components/schemas/ClinicInfo'
        licenseAttestation:
          type: string
          nullable: true
          description: >-
            **(예약 · v1.0 미사용 · enroll B안)** LMP가 라이선스 검증 후 발급한 **제3자 서명 attestation(JWT)**. 제시 시 GW가 **LMP JWKS**(런타임 fetch+캐시)로 검증 성공하면 C/S 수동 승인 없이 **status=active 자동 승인**(§2.3.1 B). 없으면 A안(pending→C/S 승인). **Agenda R9·Appendix B #42 확정 시 활성**·v1.0 미전송. 상세=③-P-LMP OnePager.
          example: null

    # 디바이스
    DeviceStatus:
      type: string
      enum: [ pending, active, suspended, revoked ]
      description: >-
        디바이스 lifecycle 상태(§7.2.3 상태기계).
        **pending**=enroll 완료·C/S 승인 대기(인증 불가) /
        **active**=정상 운영(C/S 승인 후·인증·호출 허용) /
        **suspended**=일시 정지(운영자/정책·**복구 가능**) /
        **revoked**=폐기·자격 무효(**종단·복구 불가**·kill-switch 결과).
        허용 전이: pending→active(C/S 승인) · active↔suspended(정지·재개) · active|suspended→revoked(폐기).
        revoked에서 재서비스는 되돌리기가 아니라 재-enroll(§7.2.7).
      example: active
    Device:
      type: object
      description: >-
        디바이스 = GW 호출 주체(머신 클라이언트, §1.2·§1.4) — v1.0 유일 종류=EzServer(clinic-bound); 미래 비-EzServer/clinic-less 가능(§1.2 Will Not Do). clinicId nullable.
        인증 자격도 여기에 통합 — 별도 Credential 스키마 없음(2026-07-01). 인증=private_key_jwt(비대칭, ADR-13): clientId + clientPublicKey(공개키)로 검증, 공유 secret 없음.
      properties:
        deviceId:
          type: string
          format: uuid
          description: 'GW 발급 UUIDv7(RFC 9562·불투명·시간정렬, §7.2.1). 재설치·키 회전에도 유지'
          example: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60
        clinicId:
          type: string
          nullable: true
          description: >-
            소속 클리닉(등록 시 포함). nullable — 미래 클리닉 비소속(비-EzServer) 디바이스. region은 clinic에서 파생(§6.4.1 A안,
            region 컬럼 없음)
          example: d3f1a9c07b6e4258af31c9d2e0b4a687
        clinic:
          type: object
          nullable: true
          readOnly: true
          description: >-
            소속 클리닉 **요약 임베드**(읽기 전용·조회 편의 — 화면이 clinic을 2차 조회 안 하도록). clinicId가 null이면(clinic-less) 이 값도 null.
            정본=Clinic 스키마·GET /v1/admin/clinics/{clinicId}. 쓰기 시 무시(clinicId만 사용).
          properties:
            clinicId: { type: string, example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
            name: { type: string, nullable: true, example: ES Clinic }
            region: { type: string, description: '파생 리전(clinic.region·§6.4.1)', example: apne2 }
        clientId:
          type: string
          nullable: true
          description: >-
            OAuth2 client id — GW가 enroll 시 발급한 불투명 식별자(RFC 6749 §2.2·§7.2.5, 내부 식별자 비파생·비밀 아님).
            nullable — client 자격 미발급 device(enroll 전·미래 비인증). 토큰 요청 시 이 값 + 개인키 서명(private_key_jwt)으로
            인증(§7.1.1)
          example: gwc_Qk9y3Zx1aB2cD3eF4gH5iJ
        clientPublicKey:
          type: string
          nullable: true
          description: >-
            enrollment 키페어의 공개키(또는 key-id) = 디바이스 공개키(clientPublicKey). 인증 assertion 서명 검증에
            사용(§7.1.1). 물리 머신 지문 아님
          example: ez-8f3a2b
        status:
          $ref: '#/components/schemas/DeviceStatus'
        createdAt:
          type: integer
          format: int64
          description: >-
            등록 시각(Unix ms, §1.3·DBML device.created_at)
          example: 1720137600000
        updatedAt:
          type: integer
          format: int64
          description: >-
            수정 시각(Unix ms·DBML device.updated_at)
          example: 1720224000000

    # 리전
    # Fleet heartbeat (§7.8.1)
    FleetHeartbeat:
      type: object
      description: >-
        device가 GW로 보고하는 heartbeat 본문. 모든 필드 선택 — 본문이 비어도 수신 시각만으로 liveness가 성립한다. device_id는 인증 토큰 subject에서 취득(본문 불요).
      properties:
        appVersion:
          type: string
          description: 'device(EzServer) 소프트웨어 버전 — 호환성·롤아웃 가시성(§7.7·§7.8.4)'
          example: 6.3.1.3
        os:
          type: string
          description: 'device(EzServer) OS(verbatim·미파싱). fleet_state.os에 기록(§7.8.5)'
          example: Windows/11
        metrics:
          type: object
          description: >-
            device-local health 힌트(선택). GW가 **관측 파이프라인(OTel→Alloy·§6.3.2)로 전달**하는 입력이며 **fleet_state에 저장하지 않는다**. 성공률·오류 분포는 metric counter로 백엔드가 집계(§7.8.3)하지 여기 스칼라로 넣지 않는다.
          properties:
            diskFreeBytes: { type: integer, format: int64, description: '가용 디스크(바이트)', example: 214748364800 }
            queueDepth: { type: integer, description: '미전송 큐 적체(업로드·이벤트)', example: 3 }
        appliedConfigVersion:
          type: string
          description: >-
            (gw/1.1+ 예약·v1.0 미사용) device가 현재 적용 중인 중앙 config 실효 버전 = 콘텐츠 해시(§7.8.4). GW가 실효 버전과 동등성
            비교해 drift(미반영) 판정
          example: sha256:9f2a7c1b3d8e...
    FleetHeartbeatAck:
      type: object
      required: [ receivedAt, nextIntervalSeconds ]
      properties:
        receivedAt:
          type: integer
          format: int64
          description: 'GW 수신 시각(Unix ms) — fleet_state.last_heartbeat에 기록됨'
          example: 1720224000123
        nextIntervalSeconds:
          type: integer
          description: >-
            다음 heartbeat까지 권장 간격(초). 정본=중앙 config(§7.8.4 gw.heartbeat.interval_seconds)에서 device 스코프
            resolve, 없으면 .env 기본값(§7.8.1). device는 이 값에 맞춰 다음 호출 주기를 갱신한다
          example: 3600
        configVersion:
          type: string
          description: >-
            (gw/1.1+ 예약·v1.0 미사용) 현재 device 실효 중앙 config 버전 = 콘텐츠 해시(§7.8.4). device의
            appliedConfigVersion과 다르면 GET /v1/fleet/config로 다시 pull하라는 신호
          example: sha256:9f2a7c1b3d8e...

    # 중앙 Config (§7.8.4)
    FleetConfig:
      type: object
      required: [ config, configVersion ]
      description: >-
        (gw/1.1+ 예약·v1.0 미사용) device의 실효 중앙 config(§7.8.4). GW가 키별 가장 구체 스코프 우선(device > clinic > region > global, override 병합)으로 해석한 결과.
      properties:
        config:
          type: object
          additionalProperties: true
          description: >-
            실효 config 맵 — 키(gw.*/device.*)→값(스칼라/객체). 형식·키 레지스트리=design/db-jsonb-fields.md#config
          example: { gw.heartbeat.interval_seconds: 3600, gw.log.level: info }
        configVersion:
          type: string
          description: >-
            실효 config 버전 = 콘텐츠 해시(기여 (config_key,config_value,행 version) 정렬·canonical JSON의 SHA-256
            hex, §7.8.4). device는 이를 appliedConfigVersion으로 보고(drift 판정)
          example: sha256:9f2a7c1b3d8e...
    ConfigEntry:
      type: object
      required: [ scopeType, configKey, configValue ]
      description: '중앙 config 1항목 = (scope, key) → value(§7.8.4·config 테이블). 관리 API 입출력 단위.'
      properties:
        scopeType:
          type: string
          enum: [ global, region, clinic, device ]
          description: '부착 스코프. 실효값은 키별 device>clinic>region>global 우선'
          example: global
        scopeId:
          type: string
          nullable: true
          description: >-
            global=생략(null) / region=regionId / clinic=clinicId / device=deviceId (다형 참조·하드 FK 없음)
          example: null
        configKey:
          type: string
          description: '점 구분 소문자 키. gw.*(GW 소비)/device.*(전달). 예 gw.heartbeat.interval_seconds'
          example: gw.heartbeat.interval_seconds
        configValue:
          description: '값(스칼라 또는 객체). 키 레지스트리 스키마로 타입·범위 검증(PHI 금지)'
          example: 3600
        version:
          type: integer
          format: int64
          description: '행 버전(변경 시 증가) — 읽기 시 반환, 쓰기 시 GW가 증가시킴'
          example: 7
        createdAt:
          type: integer
          format: int64
          description: '생성 시각(Unix ms·서버 설정·읽기 전용)'
          example: 1720224000000
        updatedAt:
          type: integer
          format: int64
          description: '수정 시각(Unix ms)'
          example: 1720224000000
        updatedBy:
          type: string
          description: '변경 주체(audit actor, 예 user:entra-…)'
          example: user:entra-8f3a

    # 연동 대상(target) 통합 (§7.5·§7.6·§7.1.3) — 라우팅+아웃바운드 자격+인바운드 webhook 수신
    Target:
      type: object
      required: [ targetId, profile ]
      description: >-
        연동 대상(외부 서비스·내부 backend) **통합 레코드**(엔터티=target) — 라우팅+아웃바운드 자격+인바운드 webhook 수신을 한 레코드에(구 target_registry·connector·webhook_provider 병합). **target 하나 등록=1 레코드**. credential_ref·secret_ref는 KMS 참조만(원문 미노출). org_mapping·webhook_event·policy가 targetId를 참조. AXS=①②③ 다 채움 / 내부(cleverspace)=① 라우팅만.
      properties:
        targetId:
          type: string
          pattern: '^[a-z0-9_]+$'
          description: >-
            연동 대상 ID = Vatech-Target 값 = 서브도메인 라벨 = PK(정규 토큰 소문자). 예 axs·cleverspace
          example: axs
        # ── ① 라우팅 (모든 대상) ──
        host:
          type: string
          description: >-
            내부 매핑 host(클라이언트 비노출)·아웃바운드 base=https://{host}
          example: api.eu.axs.straumann.com
        profile:
          type: string
          enum: [ internal, external ]
          description: >-
            internal=B(내부) / external=C(외부)
          example: external
        connectTimeoutMs: { type: integer, description: 'GW→target 연결 대기 — GW 책임(D1, §7.5.4·R4)', example: 3000 }
        responseTimeoutMs: { type: integer, description: 'GW→target 응답 대기·초과 504(D2)', example: 10000 }
        totalDeadlineMs: { type: integer, description: '프록시 총 예산(D3, < 클라이언트 타임아웃)', example: 12000 }
        enabled: { type: boolean, example: true }
        # ── ② 아웃바운드 자격 (외부 C만·nullable) ──
        credentialRef:
          type: string
          nullable: true
          description: >-
            OAuth2 client 자격 KMS 참조(access token 아님·원문 미저장, §7.1.3). 내부(B)는 생략
          example: kms://alias/axs-oauth-client
        egressAllowlist:
          type: object
          nullable: true
          description: >-
            egress SSOT(#31) — hosts·cidrs 둘 다 비면 fail-closed(전면 거부). 외부 C만.
            형식=design/db-jsonb-fields.md#target
          properties:
            hosts:
              type: array
              items: { type: string }
              description: >-
                허용 FQDN
              example: [ api.eu.axs.straumann.com ]
            cidrs: { type: array, items: { type: string }, example: [] }
            ports: { type: array, items: { type: integer }, description: '생략 시 [443]', example: [ 443 ] }
            requireStaticEgressIp: { type: boolean, description: 'true면 고정 egress IP(NAT) 경유 강제', example: true }
        # ── ③ 인바운드 webhook (webhook 발신 대상만·nullable) ──
        inboundHost:
          type: string
          nullable: true
          description: >-
            전용 수신 호스트(Host/SNI 발신자 식별, §7.6.2). 미발신이면 생략
          example: axs.webhook.gw.vatech.com
        inboundRoute: { type: string, nullable: true, description: '등록 수신 경로(유연·발신 규약 수용)', example: /v1/webhooks/axs }
        sigScheme:
          type: string
          nullable: true
          description: >-
            서명 검증 스킴(인증). 알고리즘+서명헤더+인코딩+서명대상
          example: 'hmac-sha512'
        secretRef:
          type: string
          nullable: true
          description: >-
            HMAC 검증 시크릿 KMS 참조(원문 미저장)
          example: kms://alias/axs-webhook-hmac
        sourceIpAllowlist:
          type: array
          nullable: true
          items: { type: string, description: 'CIDR' }
          description: >-
            허용 소스 CIDR(옵션·방어심층·Host가 1차 식별)
          example: [ 203.0.113.0/24 ]
        eventIdPath: { type: string, nullable: true, description: 'payload에서 event_id(멱등) 추출 경로', example: $.messageId }
        orgIdPath:
          type: string
          nullable: true
          description: >-
            payload에서 externalOrgId 추출 경로
          example: $.organizationId
        eventTypePath:
          type: string
          nullable: true
          description: >-
            payload에서 event_type 추출 경로(target 어휘 verbatim·GW enum 아님)
          example: $.eventType
        createdAt: { type: integer, format: int64, description: '생성 시각(Unix ms·서버 설정·읽기 전용)', example: 1720224000000 }
        updatedAt: { type: integer, format: int64, description: '수정 시각(Unix ms·서버 설정·읽기 전용)', example: 1720310400000 }

    # Webhook
    WebhookEnvelope:
      type: object
      description: >-
        GW가 검증·라우팅에 쓰는 **논리(추출) 필드**를 예시로 정의(확정 계약 아님·§4.1.3). **실제 인바운드 본문은 target 원 스키마**라 필드명·구조가 다르며, GW가 `target.event_id_path`·`event_type_path`·`org_id_path`로 추출한다. 예: AXS는 `messageId`(→eventId)·`eventType`·최상위 `organizationId`(→org 라우팅 키)를 flat하게 보냄(아래 payload 래핑은 논리 예시). payload 본문은 opaque(GW 재정의 금지).
      required: [ eventId, eventType ]
      properties:
        eventId:
          type: string
          description: 멱등 키(중복 수신 dedup, §7.6.4)
          example: c2f8aaf5-d6d1-4f8c-a4a8-c4e9b3cb3545
        eventType:
          type: string
          description: 이벤트 유형(분배 라우팅 키)
          example: patient.created
        payload:
          type: object
          description: target별 외부 스키마(④/AXS 스냅샷 참조). GW 재정의 금지.
          example: { organizationId: e407b34d-c4b0-4db3-bbcd-cc11770eae7b, patient: { id: a5437cb7-fffd-4cb2-8fdd-4063b5e43dae } }
    WebhookAck:
      type: object
      required: [ received ]
      description: 수신 ACK 본문(202). eventId 에코로 발신자 확인 편의.
      properties:
        received:
          type: boolean
          example: true
        eventId:
          type: string
          example: c2f8aaf5-d6d1-4f8c-a4a8-c4e9b3cb3545

    WebhookEventState:
      type: string
      enum: [ received, dispatched, dead_letter ]
      description: >-
        webhook 처리 상태(DBML webhook_state). received=수신·미분배, dispatched=분배 완료, dead_letter=N회
        실패·DLQ
      example: dispatched

    WebhookPayloadView:
      type: object
      required: [ eventId, redacted, payload ]
      description: >-
        webhook 본문 열람 결과(break-glass·§7.6.3). GW가 리전 로컬 S3(claim-check)에서 읽어 PHI redact 후 반환한다. **Console 직접 S3 접근 금지**(GW 중개만).
      properties:
        eventId: { type: string, example: c2f8aaf5-d6d1-4f8c-a4a8-c4e9b3cb3545 }
        redacted: { type: boolean, description: 'PHI 필드 마스킹 적용 여부(§7.6.3·redact 목록 #36)', example: true }
        payload:
          type: object
          additionalProperties: true
          description: 'redact 적용된 본문(target-owned·opaque). 마스킹된 PHI 필드는 값이 가려짐(전달 verbatim 본문은 불변)'
          example: { organizationId: e407b34d-c4b0-4db3-bbcd-cc11770eae7b, patient: { id: a5437cb7-fffd-4cb2-8fdd-4063b5e43dae, firstName: '***', lastName: '***' } }
        retrievedAt: { type: integer, format: int64, description: '열람 시각(Unix ms)', example: 1720224000000 }
    WebhookEvent:
      type: object
      description: >-
        webhook 이벤트 **PHI-free 운영 메타데이터**(webhook_event 테이블 매핑, §7.6). payload 본문은 리전 로컬 S3에만 두고 payloadRef로 참조(claim-check, 7/9 R7). 관계형 DB·본 응답에 본문 미포함.
      required: [ eventId, targetId, state, attempts, receivedAt ]
      properties:
        eventId: { type: string, description: '이벤트 식별자 = 멱등 키(dedup)', example: c2f8aaf5-d6d1-4f8c-a4a8-c4e9b3cb3545 }
        targetId: { type: string, description: '발신 target 라벨', example: axs }
        eventType:
          type: string
          nullable: true
          description: >-
            target 원어 event_type(verbatim·GW enum 아님·null 가능)
          example: patient.created
        externalOrgId: { type: string, nullable: true, description: '발신 org 식별자(분배 역조회 키·AXS=organizationId UUID). 추출 실패 시 null', example: e407b34d-c4b0-4db3-bbcd-cc11770eae7b }
        clinicId:
          type: string
          nullable: true
          description: >-
            해석된 대상 clinic(org_mapping 조회 결과·미해석 시 null)
          example: d3f1a9c07b6e4258af31c9d2e0b4a687
        region: { type: string, nullable: true, description: '해석된 대상 region(clinic 파생·미해석 시 null)', example: apne2 }
        payloadRef:
          type: string
          nullable: true
          description: >-
            본문 claim-check 참조(리전 로컬 S3·미보관 시 null)
          example: 's3://gw-webhook-payload-apne2/axs/c2f8aaf5.json'
        state: { $ref: '#/components/schemas/WebhookEventState' }
        dispatchTarget:
          type: string
          nullable: true
          description: >-
            구체적 분배 목적지 스냅샷 {channel}:{endpoint}
          example: 'mqtt_edge:gw/clinic/d3f1a9c07b6e4258af31c9d2e0b4a687/webhook'
        attempts: { type: integer, description: '분배 시도 횟수', example: 1 }
        lastError: { type: string, nullable: true, description: '마지막 분배 실패 사유(성공 시 null)', example: null }
        receivedAt: { type: integer, format: int64, description: '수신 시각(Unix ms·항상 존재)', example: 1720137600123 }
        dispatchedAt:
          type: integer
          format: int64
          nullable: true
          description: >-
            분배 완료 시각(Unix ms·미분배 시 null)
          example: 1720137600456

    FleetState:
      type: object
      description: >-
        device별 관측 상태 스냅샷(fleet_state 테이블, §7.8). device push heartbeat로 갱신, 온라인/오프라인은
        last_heartbeat 임계 초과 파생.
      required: [ deviceId ]
      properties:
        deviceId: { type: string, description: 'device_id(PK·FK)', example: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60 }
        lastHeartbeat:
          type: integer
          format: int64
          description: >-
            마지막 heartbeat 수신 시각(Unix ms). device→GW push(§7.8.1)
          example: 1720224000000
        appVersion: { type: string, nullable: true, description: 'device가 heartbeat로 보고한 마지막 SW 버전(fleet_state.app_version·롤아웃/호환성 가시성). 미보고 시 null', example: 6.3.1.3 }
        os: { type: string, nullable: true, description: 'device(EzServer) OS(fleet_state.os·heartbeat 보고·verbatim). 미보고 시 null', example: Windows/11 }
        clinicId: { type: string, nullable: true, description: '소속 clinic(device.clinic_id 조인·파생·저장 컬럼 아님). clinic-less면 null', example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
        online:
          type: boolean
          description: >-
            파생 상태 — last_heartbeat이 임계(권장 주기 × gw.heartbeat.offline_threshold_multiplier·§7.8.1) 내면 true. staleOnly 필터는 online=false(정체) 대상
          example: true

    ClientInventory:
      type: object
      required: [ clinicId, product, swVersion, firstSeen, lastSeen ]
      description: >-
        앞단 클라이언트 SW 인벤토리 항목(client_inventory·§7.8.5·FR-FLEET-06). GW가 요청의 `Vatech-*` 헤더에서 관측한 **originator** SW(CleverOne 등). **식별 id 없음** → (clinicId, product, swVersion, os) 튜플이 식별키다. **대수가 아니라 버전 presence + recency**(lastSeen 정체=업그레이드/제거 추정·같은 버전 여러 PC는 한 항목으로 합쳐짐). 클라 주장값(비인증·관측용·authz 아님). EzServer 자기 SW/OS는 fleet_state(§7.8.1).
      properties:
        clinicId: { type: string, description: 'Vatech-Clinic-Id(소속 클리닉)', example: d3f1a9c07b6e4258af31c9d2e0b4a687 }
        product: { type: string, description: 'Vatech-Product(originator)', example: CleverOne }
        swVersion: { type: string, description: 'Vatech-Version(semver)', example: 1.5.5 }
        os: { type: string, nullable: true, description: 'Vatech-OS 원문 그대로(미파싱). 미보고 시 null', example: Windows/11 }
        userAgent: { type: string, nullable: true, description: 'User-Agent 원문(최근 관측)', example: EzServer/6.5.0 }
        viaDeviceId: { type: string, nullable: true, description: '관측 경로 EzServer(Vatech-Via·최근·v1.0은 clinic device와 1:1이라 파생)', example: 01920a7b-3c4d-7e5f-8a90-1b2c3d4e5f60 }
        firstSeen: { type: integer, format: int64, description: '이 튜플 최초 관측(Unix ms)', example: 1720137600000 }
        lastSeen: { type: integer, format: int64, description: '이 튜플 최근 관측(Unix ms)·정체=구버전 잔존/제거 추정', example: 1720224000000 }

    # 감사
    AuditLog:
      type: object
      description: 'append-only 감사 항목(audit_log 테이블 매핑, §7.9.3·FR-AUD-01). 조회 전용(write API 없음).'
      properties:
        id: { type: integer, format: int64, description: '감사 항목 식별자(자동 증가·페이지네이션/참조용)', example: 100237 }
        ts: { type: integer, format: int64, description: '발생 시각(Unix ms)', example: 1720137600123 }
        actor: { type: string, description: '행위자 — `type:id`(user/system/device)', example: user:entra-8f3a }
        action:
          type: string
          description: >-
            수행 동작 — `resource.verb` 규약(free string·GW enum 아님)
          example: region.change
        result: { type: string, enum: [ success, denied, failure ], description: 'DBML audit_result enum', example: success }
        beforeState:
          type: object
          nullable: true
          description: >-
[...]
