# Vatech API Gateway - OpenAPI 3.0 (설계 초안)
#
# 작성: 초안 단계 산출물 -> baseline 시 vt-api-gateway/docs/specs/design/로 PR 이관.
# 구현 착수 후에는 NestJS code-first(@nestjs/swagger) /api-docs 산출물이 정본이 된다.
#
# 시드 출처: "VT API Gateway - API 명세·데이터 모델·주권" §1 엔드포인트.
# 범위: GW 고유 API(A면 — Vatech-Target 없는 호출)만 정의(§4.1.1·ADR-11).
#       프록시(B 내부·C 외부)는 Vatech-Target 헤더로 라우팅되는 verbatim bypass이며 OpenAPI에 정의하지 않는다
#       (레지스트리 config + upstream OpenAPI 정본). §4.1.2 참조.
# 필드는 camelCase, 시간은 Unix ms(SRS §1.3). 상세 스키마는 LLD에서 확정.
# 에러 계약: 공통 Error envelope + 재사용 응답(400/401/403/404/409/429) + 프록시 GW생성 오류(502/503/504=ProxyError, §7.5.4·§7.7.4)
#   + Vatech-Error-Origin(gateway|upstream)·Retry-After 헤더. 인증=bearerAuth(JWT) 기본, 공개 ep(auth·enroll·webhook·well-known)는 security:[] 재정의.
#   (example·완전한 code-first 정합은 baseline 후 — Appendix B #6)
openapi: 3.0.3
info:
  title: Vatech API Gateway
  version: 0.0.0
  description: >-
    설계 초안. GW 고유 API(A면 — Vatech-Target 없는 호출, §4.1.1·ADR-11)만 정의. 파일 업로드: GW는 presigned 발급 안 함 — CleverSpace(경로②)·AXS(경로③) 발급, GW 중계(§4.1.4·§7.4). 프록시(B 내부·C 외부)는 Vatech-Target 헤더로 라우팅되는 verbatim bypass이며 본 파일에 정의하지 않는다 — CleverSpace presign=경로②(Vatech-Target: cleverspace, CS OpenAPI 정본), AXS presign/파일=경로③(Vatech-Target: axs, ④). 라우팅 규칙은 §4.1.2.
servers:
- url: https://gw.vatech.com
  description: 제안(§4.5.1, DNS 확정 전 TBD)

tags:
- name: auth
  description: 인증·토큰 (SRS §7.1)
- name: enrollment
  description: 온보딩 (SRS §7.2)
- name: devices
  description: 디바이스 레지스트리·lifecycle (SRS §7.2)
- name: region
  description: 리전 해석 (SRS §7.3)
- name: clinics
  description: 클리닉/클라이언트 온보딩·리전 등록 (SRS §2.3.1·§7.3)
- name: regions
  description: GW 운영 리전 카탈로그·조회 (SRS §7.3.6)
- name: webhooks
  description: 외부 이벤트 수신·분배 (SRS §7.6)
- name: compatibility
  description: API 버전 호환성 공시 (SRS §7.7)
- name: admin
  description: 관리·감사 API (SRS §7.8·§7.9, ③-C Console이 호출)

# 기본 인증 = bearerAuth(JWT). 공개 엔드포인트(auth·enroll·webhook·well-known)는 op에서 security:[]로 재정의.
security:
- bearerAuth: []

paths:
  # --- 인증·토큰 (§7.1) ---
  /v1/auth/token:
    post:
      tags: [ auth ]
      summary: 디바이스 client_credentials → JWT 발급 (FR-AUTH-01/02)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: 발급된 access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/auth/oneid/verify:
    post:
      tags: [ auth ]
      summary: OneID(OIDC) 토큰 검증·연계 — 사람·클리닉·사내 호출자 (FR-AUTH-08)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneIdVerifyRequest'
      responses:
        '200':
          description: 검증된 신원 + 디바이스 인증면 매핑
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneIdVerifyResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 온보딩 (§7.2) ---
  /v1/enroll/start:
    post:
      tags: [ enrollment ]
      summary: enrollment 시작(LM 라이선스·Clinic-ID 부트스트랩) → nonce challenge (FR-ENR-01/03)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollStartRequest'
      responses:
        '200':
          description: nonce challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollChallenge'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/enroll/complete:
    post:
      tags: [ enrollment ]
      summary: 서명+공개키(clientPublicKey) 검증 → 디바이스 등록(status=pending, C/S 승인 대기) (FR-ENR-01/04)
      description: >-
        nonce 서명·공개키(clientPublicKey)를 검증하고 디바이스를 status=pending으로 등록한다.
        active 활성화(=인증 허용)는 C/S가 GW Console에서 승인해야 하며,
        승인은 PATCH /v1/devices/{id} (status: active)로 수행된다(§2.3.1(2)·§7.2.3·§7.2.5·§7.9.2).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCompleteRequest'
      responses:
        '202':
          description: >-
            등록 접수됨(status=pending · C/S 승인 대기). client_id 발급(공개키(clientPublicKey) 바인딩).
            공유 secret 없음 — 이후 private_key_jwt로 인증(§7.1.1). active 전 토큰 미발급
          content:
            application/json:
              schema:
                type: object
                properties:
                  deviceId: { type: string }
                  clientId: { type: string, description: 'GW가 발급한 불투명 client id(RFC 6749 §2.2·§7.2.5, 내부 식별자 비파생·비밀 아님). 이후 토큰 요청에 사용(개인키 서명으로 인증)' }
                  status: { $ref: '#/components/schemas/DeviceStatus' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 디바이스 레지스트리 (§7.2) ---
  /v1/devices:
    get:
      tags: [ devices ]
      summary: 디바이스 목록 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ devices ]
      summary: 디바이스 등록 (FR-DEV-01)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/devices/{id}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags: [ devices ]
      summary: 디바이스 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    patch:
      tags: [ devices ]
      summary: lifecycle 상태 전이 (FR-DEV-03, pending→active→suspended→revoked)
      description: >-
        디바이스 lifecycle 전이. **pending→active는 C/S enrollment 승인 게이트**
        (현장 설치 담당 C/S만 승인 = 부트스트랩 신뢰 앵커, §2.3.1(2)·§7.2.5·§7.9.2).
        모든 전이는 승인자·시각 감사(§7.9.3).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/DeviceStatus'
      responses:
        '200':
          description: 갱신됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 리전 해석 (§7.3) ---
  /v1/region/resolve:
    get:
      tags: [ region ]
      summary: device/clinic → region 해석 (FR-RGN-01/02/06)
      parameters:
      - name: deviceId
        in: query
        schema:
          type: string
      - name: clinicId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: 매핑 리전 endpoint + 주권 정책
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResolveResponse'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 클리닉/클라이언트 온보딩·등록 (§2.3.1) — 매핑 자가 생성, Admin은 교정만 ---
  /v1/clinics:
    post:
      tags: [ clinics ]
      summary: 클리닉 등록 — EzServer 자동·무조건(LMP Clinic-ID 수신 시) (FR-RGN-*)
      description: >-
        EzServer가 LMP로부터 Clinic-ID를 받는 순간 자동으로 Clinic-ID(+region)를 등록한다 — **외부 연동 여부와 무관하게 무조건**(2026-06-25 결정). GW가 검증해 clinic·delivery_channel 생성. 수기 일괄설정 아님 — 교정은 §7.3.4(FR-RGN-04), region 변경=EzServer Console(§7.3.6).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicRegistration'
      responses:
        '201':
          description: 등록됨 (이 클리닉 = 해당 region)
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/{clinicId}/org-bindings:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
    post:
      tags: [ clinics ]
      summary: 외부 provider Org-ID 등록 (외부 연동 연결 시, provider별) (FR-INT-*)
      description: >-
        클리닉이 외부 연동(예 AXS)을 켤 때 그 provider의 Org-ID 등록 → org_mapping((provider, Org-ID)→clinic). webhook 분배 키. Org-ID는 provider 온보딩에서 발급(§2.3.5·④).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgBinding'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- GW 리전 카탈로그·조회 + 운영 중 리전 변경 (§7.3.6·§7.3.4) ---
  /v1/regions:
    get:
      tags: [ regions ]
      summary: GW 운영 리전 목록 조회 — 클라이언트 region 선택지 (§7.3.6)
      description: EzServer Console 등이 온보딩·운영 중 region 선택을 위해 조회. v1.0=1개, gw/1.2=N개.
      responses:
        '200':
          description: 운영 리전 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /v1/clinics/{clinicId}/region:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
    put:
      tags: [ clinics ]
      summary: 클리닉 접속 리전 변경 (운영 중 자가 변경, FR-RGN-04)
      description: >-
        EzServer Console 등에서 운영 중 접속 GW 리전을 변경. mapping_version++ · 재동의(FR-COMP-02) · 감사 강제. 기존 PHI는 옛 리전 잔류(자동 이관 없음), 전환은 신규부터(§7.3.4).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ region ]
              properties:
                region: { type: string }
      responses:
        '200':
          description: 변경됨(재동의·감사 동반)
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 파일 업로드: GW 고유 API 없음 ---
  # presigned 발급 주체 = CleverSpace(경로②)·AXS(경로③). GW는 발급 요청을 Vatech-Target proxy로 중계(bypass)만 하며 서명·세션·storage를 갖지 않는다(§4.1.4·§7.4 · ADR-03/04 철회).

  # --- 프록시(B 내부·C 외부)는 본 OpenAPI에 정의하지 않는다 (§4.1.1·§4.1.2·ADR-11) ---
  # 라우팅 = Vatech-Target 헤더(논리 ID enum, 예 cleverspace/axs) → 레지스트리 allowlist→host 해석.
  # GW는 클라이언트가 친 upstream 경로를 host만 바꿔 verbatim 전달(요청/응답 body 그대로). 경로를 GW가 정의/변환하지 않음.
  #   - 경로②(B): Vatech-Target: cleverspace — CleverSpace OpenAPI 정본
  #   - 경로③(C): Vatech-Target: axs — AXS OpenAPI 스냅샷 + ④ Sub-SRS 정본 (OAuth2·egress allowlist는 GW 정책)
  # Vatech-Target 없는 호출만 아래 GW 고유 API(A)로 처리된다.
  #
  # 프록시 에러·타임아웃 계약 (정본 §7.5.4·§7.7.4 — 경로가 아니라 전 프록시 공통이므로 여기 주석으로 기술):
  #   - 타임아웃: per-upstream(connect/response/total_deadline, UpstreamRegistry). GW 총 deadline < 클라이언트 타임아웃(고아 요청 방지).
  #   - GW 생성 오류 = ProxyError 스키마: 502 연결실패(UPSTREAM_UNREACHABLE) / 504 deadline 초과(UPSTREAM_TIMEOUT) / 503 서킷·일시불가(UPSTREAM_UNAVAILABLE, Retry-After). 헤더 Vatech-Error-Origin: gateway.
  #     재사용 응답 정의 = components/responses/{UpstreamUnreachable(502), UpstreamUnavailable(503), UpstreamTimeout(504)} (프록시 게이트웨이 핸들러에서 사용).
  #   - upstream 자체 4xx/5xx = 원 코드·body verbatim 통과(GW 미변형). 헤더 Vatech-Error-Origin: upstream.
  #   - 재시도: 멱등(GET/HEAD/OPTIONS/PUT/DELETE) 또는 idempotency key 보유 + 연결/pre-response 타임아웃 한정(상한+백오프+budget). 비멱등 POST 자동 재시도 금지.
  #   - 클라이언트 조기 절단 → GW가 upstream 호출 취소.

  # --- Webhook 수신 (§7.6 / §4.1.3) — provider별 전용 호스트({provider}.webhook.gw.vatech.com)로 식별(Host/SNI). 경로/스키마는 provider 규약 수용·유연(아래는 예시). GW는 발신자 검증·라우팅만, payload 비해석 ---
  /v1/webhooks/{provider}:
    post:
      tags: [ webhooks ]
      security: []
      summary: 외부 이벤트 Webhook 수신 (FR-WH-01~05) — provider별 전용 호스트로 식별, 경로/형식 유연(예시)
      description: >-
        **발신자 식별 = provider별 전용 호스트**(`{provider}.webhook.gw.vatech.com`, Host/SNI → 레지스트리 inbound_host, §7.6.2) — source IP 비의존. 아래 경로 `/v1/webhooks/{provider}`와 스키마는 **예시**이며 확정 계약이 아니다(provider 규약 수용·유연, §4.1.3). **신뢰(인증) = HMAC + timestamp**(호스트명은 식별이지 인증 아님); source IP allowlist는 옵션. GW는 멱등(eventId)·라우팅만 하며 payload는 소비자가 해석한다(opaque, ④/AXS 스냅샷 참조).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [ axs ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEnvelope'
      responses:
        '200':
          description: 수신 ACK(처리는 비동기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 호환성 공시 (§7.7) ---
  /.well-known/{env}/server-configuration.json:
    parameters:
    - name: env
      in: path
      required: true
      schema:
        type: string
    get:
      tags: [ compatibility ]
      summary: 런타임 버전·호환성 공시 (FR-COMPAT-02)
      description: 스키마·샘플은 design/well-known/ 참조. 버전 프리픽스 없이 표준 관례로 노출(§4.1.2-5)
      security: []
      responses:
        '200':
          description: 서버 구성(호환성 매트릭스 공시)
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 관리·감사 (§7.8·§7.9) ---
  /admin/v1/devices/{id}/kill:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    post:
      tags: [ admin ]
      summary: kill-switch(긴급 정지) (FR-FLEET-02)
      responses:
        '200':
          description: 즉시 정지됨
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /admin/v1/audit:
    get:
      tags: [ admin ]
      summary: 감사 로그 조회(경량) (FR-AUD-01)
      description: 그 외 관리자 조회(/admin/v1/*)는 LLD에서 확장. UI는 ③-C
      responses:
        '200':
          description: 감사 로그 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  # --- 라우팅·분배 지식 관리 (Console ③-C 호출) — DB가 보관하는 "어디로 분배" 정보 ---
  /admin/v1/org-mappings:
    get:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 조회 (webhook 라우팅 키)
      responses:
        '200':
          description: 매핑 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrgMapping'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 **교정(override)** — 1차 입력은 클라이언트 온보딩(자가 등록), 본 API는 오설정 수정용 (FR-RGN-04)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMapping'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /admin/v1/webhook-providers:
    get:
      tags: [ admin ]
      summary: Webhook provider 레지스트리 조회(유연 수신 config) (FR-WH-01/02)
      responses:
        '200':
          description: provider 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookProvider'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ admin ]
      summary: Webhook provider 등록/갱신 — 경로·검증·라우팅 키 config (GW는 payload 비해석)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookProvider'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

  /admin/v1/upstreams:
    get:
      tags: [ admin ]
      summary: Vatech-Target → upstream 레지스트리 조회 (target-routed proxy, ADR-11)
      responses:
        '200':
          description: upstream 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UpstreamRegistry'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
    post:
      tags: [ admin ]
      summary: upstream(target_id→host·profile) 등록/갱신 — 신규 연동 = 1행
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpstreamRegistry'
      responses:
        '201':
          description: 등록됨
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/TooManyRequests' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 디바이스/사람 JWT(FR-AUTH·§7.1). 공개 엔드포인트(auth·enroll·webhook·well-known)는 op별 security 재정의. 프록시 호출은 Vatech-Target 헤더 추가(§4.1.2)

  headers:
    VatechErrorOrigin:
      description: 오류 책임 주체 — gateway(GW 생성) | upstream(대상 서버 자체 오류, verbatim 통과). §7.7.4
      schema: { type: string, enum: [ gateway, upstream ] }
    RetryAfter:
      description: 재시도 권고(초). 429·503에서 부여
      schema: { type: integer }
    VatechUpstreamLatencyMs:
      description: 프록시 시 upstream 응답 지연(관측, §7.5.4)
      schema: { type: integer, format: int64 }

  responses:
    BadRequest:
      description: 요청 형식·검증 오류 (400)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: 인증 실패 — 토큰·서명·자격·timestamp (401)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: 권한 부족 — scope·RBAC·정책 거부 (403)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 리소스 없음 / 미등록 (404)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Conflict:
      description: 멱등 충돌 / 중복 등록 / 상태 전이 위반 (409)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    TooManyRequests:
      description: rate limit 초과 (429)
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    # --- 프록시(B/C) 전용 — GW 생성 오류. 특정 경로가 아니라 Vatech-Target proxy 공통(§7.5.4·§7.7.4). ---
    # --- upstream 자체 4xx/5xx는 본 응답을 쓰지 않고 원응답을 verbatim 통과(Vatech-Error-Origin: upstream). ---
    UpstreamUnreachable:
      description: upstream 연결 실패(거부·DNS·TLS) — GW 생성 (502)
      headers:
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }
    UpstreamUnavailable:
      description: 서킷 개방 / upstream 일시 불가 — GW 생성 (503)
      headers:
        Retry-After: { $ref: '#/components/headers/RetryAfter' }
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }
    UpstreamTimeout:
      description: upstream 응답 지연 — GW deadline 초과·GW 생성 (504)
      headers:
        Vatech-Error-Origin: { $ref: '#/components/headers/VatechErrorOrigin' }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ProxyError' }

  parameters:
    DeviceId:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:
    # 공통 오류 envelope (GW 생성 — §7.7.4). 프록시 upstream 자체 오류는 verbatim이라 미적용.
    Error:
      type: object
      required: [ errorCode ]
      properties:
        errorCode: { type: string, description: '표준 오류코드(§7.7.4)' }
        message: { type: string }
        requestId: { type: string, description: '상관 추적용 ID(§6.3.2)' }
        details: { type: object, description: '필드 검증 오류 등 부가 정보' }
      description: 'GW 표준 오류 응답 본문(§7.7.4)'
    # 인증
    TokenRequest:
      type: object
      required: [ clientId, clientAssertion, scope ]
      description: >-
        디바이스 머신 인증 = OAuth2 client_credentials + private_key_jwt(비대칭, ADR-13·§7.1.1).
        공유 client_secret 미사용 — 디바이스 개인키로 서명한 JWT assertion을 GW가 등록된 공개키(clientPublicKey)로 검증.
      properties:
        clientId:
          type: string
        clientAssertionType:
          type: string
          description: RFC 7523 고정값
          default: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer'
        clientAssertion:
          type: string
          description: 디바이스 개인키로 서명한 JWT assertion(소지 증명). GW가 등록된 공개키(clientPublicKey)로 검증(§7.1.1)
        scope:
          type: string
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresAt:
          type: integer
          format: int64
          description: Unix ms
        claims:
          type: object
          description: device_id·region·aud·TTL 강제 바인딩(§7.1.1)
    OneIdVerifyRequest:
      type: object
      required: [ oneIdToken ]
      properties:
        oneIdToken:
          type: string
    OneIdVerifyResponse:
      type: object
      properties:
        identity:
          type: object
          description: 사람/클리닉/사내 호출자 신원
        deviceBinding:
          type: string
          description: 디바이스 인증면과의 매핑

    # 온보딩
    EnrollStartRequest:
      type: object
      required: [ bootstrap ]
      properties:
        bootstrap:
          type: string
          description: >-
            부트스트랩 신뢰 = LM 라이선스·Clinic-ID(EzServer가 설치 시 LMP에서 수신).
            공장 토큰/OOB 코드는 미도입(GW 사전 발급 토큰 없음). 최종 활성화는 C/S Console 승인(§2.3.1(2)·§7.2.5)
        serial:
          type: string
          description: 대상 디바이스 시리얼(부트스트랩 식별)
    EnrollChallenge:
      type: object
      properties:
        nonce:
          type: string
        expiresAt:
          type: integer
          format: int64
    EnrollCompleteRequest:
      type: object
      required: [ nonceSignature, clientPublicKey ]
      properties:
        nonceSignature:
          type: string
          description: EzServer 개인키로 nonce 서명(소지 증명, §7.2.6)
        clientPublicKey:
          type: string
          description: EzServer 생성 키페어의 공개키(또는 key-id) = 디바이스 공개키(clientPublicKey). 물리 머신 지문 아님. 재설치 시 새 키→재-enroll로 회전(§7.2.6·7.2.7)

    # 디바이스
    DeviceStatus:
      type: string
      enum: [ pending, active, suspended, revoked ]
    Device:
      type: object
      description: >-
        디바이스 = EzServer(§1.4). 인증 자격도 여기에 통합 — 별도 Credential 스키마 없음(2026-07-01).
        인증=private_key_jwt(비대칭, ADR-13): clientId + clientPublicKey(공개키)로 검증, 공유 secret 없음.
      properties:
        deviceId:
          type: string
        clinicId:
          type: string
          description: 소속 클리닉(등록 시 포함). nullable — 미래 클리닉 비소속(비-EzServer) 디바이스. region은 clinic에서 파생(§6.4.1 A안, region 컬럼 없음)
        clientId:
          type: string
          description: OAuth2 client id — GW가 enroll 시 발급한 불투명 식별자(RFC 6749 §2.2·§7.2.5, 내부 식별자 비파생·비밀 아님). nullable — client 자격 미발급 device(enroll 전·미래 비인증). 토큰 요청 시 이 값 + 개인키 서명(private_key_jwt)으로 인증(§7.1.1)
        clientPublicKey:
          type: string
          description: enrollment 키페어의 공개키(또는 key-id) = 디바이스 공개키(clientPublicKey). 인증 assertion 서명 검증에 사용(§7.1.1). 물리 머신 지문 아님
        status:
          $ref: '#/components/schemas/DeviceStatus'

    # 리전
    RegionResolveResponse:
      type: object
      properties:
        region:
          type: string
        endpoint:
          type: string
        mappingVersion:
          type: integer
        sovereigntyPolicy:
          type: object

    # Webhook
    WebhookEnvelope:
      type: object
      description: >-
        GW가 검증·라우팅에 사용하는 최상위 공통 필드만 정의. 실제 이벤트 본문(payload)은 provider 외부 스키마이므로 opaque(object) 또는 외부 $ref로 둔다(§4.1.3-2).
      required: [ eventId, eventType ]
      properties:
        eventId:
          type: string
          description: 멱등 키(중복 수신 dedup, §7.6.4)
        eventType:
          type: string
          description: 이벤트 유형(분배 라우팅 키)
        payload:
          type: object
          description: provider별 외부 스키마(④/AXS 스냅샷 참조). GW 재정의 금지.
    WebhookAck:
      type: object
      properties:
        received:
          type: boolean
        eventId:
          type: string

    # 감사
    AuditLog:
      type: object
      description: append-only
      properties:
        ts:
          type: integer
          format: int64
        actor:
          type: string
        action:
          type: string
        result:
          type: string

    # 라우팅·분배 레지스트리 (DB가 보관하는 "어디로 분배" 지식)
    OrgMapping:
      type: object
      required: [ provider, externalOrgId, clinicId ]
      properties:
        provider: { type: string, description: '예 axs' }
        externalOrgId: { type: string, description: 'provider 식별자(예 AXS Organization-ID)' }
        clinicId: { type: string }
        mappingVersion: { type: integer }
      description: 'webhook 라우팅 키 — (provider, externalOrgId) → clinicId → region'
    WebhookProvider:
      type: object
      required: [ provider ]
      properties:
        provider: { type: string }
        inboundHost: { type: string, description: '1차 식별 키 — provider별 전용 수신 호스트(예 axs.webhook.gw.vatech.com). Host/SNI로 발신자 식별(§7.6.2). 와일드카드 DNS 미사용' }
        inboundRoute: { type: string, description: '등록 수신 경로(유연·예시, 확정 계약 아님)' }
        sigScheme: { type: string, description: 'HMAC 방식 — 인증(신뢰) 근거' }
        secretRef: { type: string, description: 'KMS 참조 — Host로 선택된 provider의 HMAC 시크릿' }
        sourceIpAllowlist: { type: array, items: { type: string, description: 'CIDR(예 203.0.113.0/24)' }, description: '허용 소스 CIDR 목록 — 옵션·방어심층(식별 용도 아님, Host가 대체). UI=③-C' }
        orgIdPath: { type: string, description: 'payload에서 externalOrgId 추출 경로' }
        enabled: { type: boolean }
      description: '유연 수신 config — 식별=inboundHost(Host/SNI), 인증=HMAC+timestamp(호스트명은 식별이지 인증 아님). GW는 발신자 검증·라우팅 키 추출만, payload 비해석(§4.1.3·§7.6.2)'
    UpstreamRegistry:
      type: object
      required: [ targetId, host, profile ]
      properties:
        targetId: { type: string, description: 'Vatech-Target 논리 ID(예 cleverspace, axs)' }
        host: { type: string, description: '내부 매핑 host(클라이언트 비노출)' }
        profile: { type: string, enum: [ internal, external ] }
        egressAllowlist: { type: array, items: { type: string } }
        connectTimeoutMs: { type: integer, description: 'TCP+TLS 핸드셰이크 타임아웃(짧게). 값 TBD(Appendix B #25, §7.5.4)' }
        responseTimeoutMs: { type: integer, description: 'upstream 응답 대기 타임아웃. 값 TBD' }
        totalDeadlineMs: { type: integer, description: '프록시 호출 총 예산 — GW deadline < 클라이언트 타임아웃 불변식. 값 TBD' }
        retryPolicy: { type: string, description: '재시도 정책 — 멱등 메서드/idempotency key + 연결·pre-response 타임아웃 한정(상한+백오프+budget). 비멱등 POST 금지(§7.5.4)' }
        circuitBreaker: { type: boolean, description: '서킷 브레이커 활성(연속 실패 시 503+Retry-After 빠른 실패). 임계·v1.0 범위 TBD' }
        enabled: { type: boolean }
      description: 'target-routed proxy 라우팅(ADR-11). 신규 upstream = 1행. 타임아웃·재시도·서킷은 per-upstream 복원력 설정(§7.5.4)'
    DeliveryChannel:
      type: object
      required: [ clinicId, channelType ]
      properties:
        clinicId: { type: string }
        channelType: { type: string, enum: [ mqtt_edge, http_cloud ] }
        endpoint: { type: string }
      description: 'webhook 분배 채널(Edge MQTT / Cloud HTTP, §7.6.5/6)'
    ClinicRegistration:
      type: object
      required: [ clinicId, region ]
      properties:
        clinicId: { type: string }
        region: { type: string, description: '클라이언트가 선택한 region(GW가 검증)' }
      description: '클리닉 온보딩 등록 — 운영자 OneID 인증 후. clinic 생성'
    OrgBinding:
      type: object
      required: [ provider, externalOrgId ]
      properties:
        provider: { type: string, description: '예 axs' }
        externalOrgId: { type: string, description: 'provider Org-ID(예 AXS Organization-ID)' }
      description: '외부 연동 연결 시 provider별 Org-ID 등록 → org_mapping(webhook 라우팅 키)'
    Region:
      type: object
      required: [ regionId, status ]
      properties:
        regionId: { type: string, description: '예 apne2(서울), use1(미주)' }
        displayName: { type: string }
        endpoint: { type: string }
        status: { type: string, enum: [ active, draining, planned ] }
        isDefault: { type: boolean }
      description: 'GW 운영 리전(GET /v1/regions). region_catalog 테이블 매핑'
    ProxyError:
      type: object
      required: [ errorCode, origin ]
      properties:
        errorCode:
          type: string
          enum: [ UPSTREAM_UNREACHABLE, UPSTREAM_TIMEOUT, UPSTREAM_UNAVAILABLE ]
          description: '502 연결 실패 / 504 deadline 초과 / 503 서킷·일시불가(§7.7.4)'
        origin:
          type: string
          enum: [ gateway ]
          description: 'GW가 생성한 오류임을 표시(헤더 Vatech-Error-Origin: gateway와 동일). upstream 자체 4xx/5xx는 본 스키마를 쓰지 않고 원응답을 verbatim 통과(origin: upstream)'
        targetId: { type: string, description: '실패한 Vatech-Target 논리 ID' }
        retryAfter: { type: integer, description: '503 시 재시도 권고(초)' }
        message: { type: string }
      description: 'GW 생성 프록시 오류 본문(502/503/504). upstream 응답은 verbatim 통과라 이 스키마 미적용(§7.5.4·§7.7.4)'
