# Vatech API Gateway - OpenAPI 3.0 (설계 초안)
#
# 작성: 초안 단계 산출물 -> baseline 시 vt-api-gateway/docs/specs/design/로 PR 이관.
# 구현 착수 후에는 NestJS code-first(@nestjs/swagger) /api-docs 산출물이 정본이 된다.
#
# 시드 출처: "VT API Gateway - API 명세·데이터 모델·주권" §1 엔드포인트.
# 범위: GW 고유 API(A면 — Vatech-Target 없는 호출)만 정의(§4.1.1·ADR-11).
#       프록시(B 내부·C 외부)는 Vatech-Target 헤더로 라우팅되는 verbatim bypass이며 OpenAPI에 정의하지 않는다
#       (레지스트리 config + upstream OpenAPI 정본). §4.1.2 참조.
# 필드는 camelCase, 시간은 Unix ms(SRS §1.3). 상세 스키마는 LLD에서 확정.
openapi: 3.0.3
info:
  title: Vatech API Gateway
  version: 0.0.0
  description: >-
    설계 초안. GW 고유 API(A면 — Vatech-Target 없는 호출, §4.1.1·ADR-11)만 정의. 파일 업로드: GW는 presigned 발급 안 함 — CleverSpace(경로②)·AXS(경로③) 발급, GW 중계(§4.1.4·§7.4). 프록시(B 내부·C 외부)는 Vatech-Target 헤더로 라우팅되는 verbatim bypass이며 본 파일에 정의하지 않는다 — CleverSpace presign=경로②(Vatech-Target: cleverspace, CS OpenAPI 정본), AXS presign/파일=경로③(Vatech-Target: axs, ④). 라우팅 규칙은 §4.1.2.
servers:
- url: https://gw.vatech.com
  description: 제안(§4.5.1, DNS 확정 전 TBD)

tags:
- name: auth
  description: 인증·토큰 (SRS §7.1)
- name: enrollment
  description: 온보딩 (SRS §7.2)
- name: devices
  description: 디바이스 레지스트리·lifecycle (SRS §7.2)
- name: region
  description: 리전 해석 (SRS §7.3)
- name: clinics
  description: 클리닉/클라이언트 온보딩·리전 등록 (SRS §2.3.1·§7.3)
- name: regions
  description: GW 운영 리전 카탈로그·조회 (SRS §7.3.6)
- name: webhooks
  description: 외부 이벤트 수신·분배 (SRS §7.6)
- name: compatibility
  description: API 버전 호환성 공시 (SRS §7.7)
- name: admin
  description: 관리·감사 API (SRS §7.8·§7.9, ③-C Console이 호출)

paths:
  # --- 인증·토큰 (§7.1) ---
  /v1/auth/token:
    post:
      tags: [ auth ]
      summary: 디바이스 client_credentials → JWT 발급 (FR-AUTH-01/02)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenRequest'
      responses:
        '200':
          description: 발급된 access token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: secret 불일치 / 미등록·revoked 디바이스
        '403':
          description: scope 초과

  /v1/auth/oneid/verify:
    post:
      tags: [ auth ]
      summary: OneID(OIDC) 토큰 검증·연계 — 사람·클리닉·사내 호출자 (FR-AUTH-08)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneIdVerifyRequest'
      responses:
        '200':
          description: 검증된 신원 + 디바이스 인증면 매핑
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneIdVerifyResponse'
        '401':
          description: OneID 검증 실패 / 매핑 부재

  # --- 온보딩 (§7.2) ---
  /v1/enroll/start:
    post:
      tags: [ enrollment ]
      summary: enrollment 시작 → nonce challenge (FR-ENR-01/03)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollStartRequest'
      responses:
        '200':
          description: nonce challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EnrollChallenge'
        '401':
          description: 부트스트랩 신뢰 검증 실패

  /v1/enroll/complete:
    post:
      tags: [ enrollment ]
      summary: 서명+fingerprint 검증 → 자격 발급(allowlist 등록) (FR-ENR-01/04)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollCompleteRequest'
      responses:
        '200':
          description: 발급된 디바이스 자격증명(참조)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credential'
        '401':
          description: 서명·fingerprint·이상탐지 거부

  # --- 디바이스 레지스트리 (§7.2) ---
  /v1/devices:
    get:
      tags: [ devices ]
      summary: 디바이스 목록 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
    post:
      tags: [ devices ]
      summary: 디바이스 등록 (FR-DEV-01)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Device'
      responses:
        '201':
          description: 등록됨

  /v1/devices/{id}:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    get:
      tags: [ devices ]
      summary: 디바이스 조회 (FR-DEV-01)
      responses:
        '200':
          description: 디바이스
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '404':
          description: 없음
    patch:
      tags: [ devices ]
      summary: lifecycle 상태 전이 (FR-DEV-03, pending→active→suspended→revoked)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/DeviceStatus'
      responses:
        '200':
          description: 갱신됨

  # --- 리전 해석 (§7.3) ---
  /v1/region/resolve:
    get:
      tags: [ region ]
      summary: device/clinic → region 해석 (FR-RGN-01/02/06)
      parameters:
      - name: deviceId
        in: query
        schema:
          type: string
      - name: clinicId
        in: query
        schema:
          type: string
      responses:
        '200':
          description: 매핑 리전 endpoint + 주권 정책
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionResolveResponse'

  # --- 클리닉/클라이언트 온보딩·등록 (§2.3.1) — 매핑 자가 생성, Admin은 교정만 ---
  /v1/clinics:
    post:
      tags: [ clinics ]
      summary: 클리닉 등록 — EzServer 자동·무조건(LMP Clinic-ID 수신 시) (FR-RGN-*)
      description: >-
        EzServer가 LMP로부터 Clinic-ID를 받는 순간 자동으로 Clinic-ID(+region)를 등록한다 — **외부 연동 여부와 무관하게 무조건**(2026-06-25 결정). GW가 검증해 clinic_region_mapping·delivery_channel 생성. 수기 일괄설정 아님 — 교정은 §7.3.4(FR-RGN-04), region 변경=EzServer Console(§7.3.6).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicRegistration'
      responses:
        '201':
          description: 등록됨 (이 클리닉 = 해당 region)

  /v1/clinics/{clinicId}/org-bindings:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
    post:
      tags: [ clinics ]
      summary: 외부 provider Org-ID 등록 (외부 연동 연결 시, provider별) (FR-INT-*)
      description: >-
        클리닉이 외부 연동(예 AXS)을 켤 때 그 provider의 Org-ID 등록 → org_mapping((provider, Org-ID)→clinic). webhook 분배 키. Org-ID는 provider 온보딩에서 발급(§2.3.5·④).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgBinding'
      responses:
        '201':
          description: 등록됨

  # --- GW 리전 카탈로그·조회 + 운영 중 리전 변경 (§7.3.6·§7.3.4) ---
  /v1/regions:
    get:
      tags: [ regions ]
      summary: GW 운영 리전 목록 조회 — 클라이언트 region 선택지 (§7.3.6)
      description: EzServer Console 등이 온보딩·운영 중 region 선택을 위해 조회. v1.0=1개, gw/1.2=N개.
      responses:
        '200':
          description: 운영 리전 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Region'

  /v1/clinics/{clinicId}/region:
    parameters:
    - name: clinicId
      in: path
      required: true
      schema:
        type: string
    put:
      tags: [ clinics ]
      summary: 클리닉 접속 리전 변경 (운영 중 자가 변경, FR-RGN-04)
      description: >-
        EzServer Console 등에서 운영 중 접속 GW 리전을 변경. mapping_version++ · 재동의(FR-COMP-02) · 감사 강제. 기존 PHI는 옛 리전 잔류(자동 이관 없음), 전환은 신규부터(§7.3.4).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ region ]
              properties:
                region: { type: string }
      responses:
        '200':
          description: 변경됨(재동의·감사 동반)

  # --- 파일 업로드: GW 고유 API 없음 ---
  # presigned 발급 주체 = CleverSpace(경로②)·AXS(경로③). GW는 발급 요청을 Vatech-Target proxy로 중계(bypass)만 하며 서명·세션·storage를 갖지 않는다(§4.1.4·§7.4 · ADR-03/04 철회).

  # --- 프록시(B 내부·C 외부)는 본 OpenAPI에 정의하지 않는다 (§4.1.1·§4.1.2·ADR-11) ---
  # 라우팅 = Vatech-Target 헤더(논리 ID enum, 예 cleverspace/axs) → 레지스트리 allowlist→host 해석.
  # GW는 클라이언트가 친 upstream 경로를 host만 바꿔 verbatim 전달(요청/응답 body 그대로). 경로를 GW가 정의/변환하지 않음.
  #   - 경로②(B): Vatech-Target: cleverspace — CleverSpace OpenAPI 정본
  #   - 경로③(C): Vatech-Target: axs — AXS OpenAPI 스냅샷 + ④ Sub-SRS 정본 (OAuth2·egress allowlist는 GW 정책)
  # Vatech-Target 없는 호출만 아래 GW 고유 API(A)로 처리된다.
  #
  # 프록시 에러·타임아웃 계약 (정본 §7.5.4·§7.7.4 — 경로가 아니라 전 프록시 공통이므로 여기 주석으로 기술):
  #   - 타임아웃: per-upstream(connect/response/total_deadline, UpstreamRegistry). GW 총 deadline < 클라이언트 타임아웃(고아 요청 방지).
  #   - GW 생성 오류 = ProxyError 스키마: 502 연결실패(UPSTREAM_UNREACHABLE) / 504 deadline 초과(UPSTREAM_TIMEOUT) / 503 서킷·일시불가(UPSTREAM_UNAVAILABLE, Retry-After). 헤더 Vatech-Error-Origin: gateway.
  #   - upstream 자체 4xx/5xx = 원 코드·body verbatim 통과(GW 미변형). 헤더 Vatech-Error-Origin: upstream.
  #   - 재시도: 멱등(GET/HEAD/OPTIONS/PUT/DELETE) 또는 idempotency key 보유 + 연결/pre-response 타임아웃 한정(상한+백오프+budget). 비멱등 POST 자동 재시도 금지.
  #   - 클라이언트 조기 절단 → GW가 upstream 호출 취소.

  # --- Webhook 수신 (§7.6 / §4.1.3) — provider별 전용 호스트({provider}.webhook.gw.vatech.com)로 식별(Host/SNI). 경로/스키마는 provider 규약 수용·유연(아래는 예시). GW는 발신자 검증·라우팅만, payload 비해석 ---
  /v1/webhooks/{provider}:
    post:
      tags: [ webhooks ]
      summary: 외부 이벤트 Webhook 수신 (FR-WH-01~05) — provider별 전용 호스트로 식별, 경로/형식 유연(예시)
      description: >-
        **발신자 식별 = provider별 전용 호스트**(`{provider}.webhook.gw.vatech.com`, Host/SNI → 레지스트리 inbound_host, §7.6.2) — source IP 비의존. 아래 경로 `/v1/webhooks/{provider}`와 스키마는 **예시**이며 확정 계약이 아니다(provider 규약 수용·유연, §4.1.3). **신뢰(인증) = HMAC + timestamp**(호스트명은 식별이지 인증 아님); source IP allowlist는 옵션. GW는 멱등(eventId)·라우팅만 하며 payload는 소비자가 해석한다(opaque, ④/AXS 스냅샷 참조).
      parameters:
      - name: provider
        in: path
        required: true
        schema:
          type: string
          enum: [ axs ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookEnvelope'
      responses:
        '200':
          description: 수신 ACK(처리는 비동기)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookAck'
        '400':
          description: 페이로드 형식 오류
        '401':
          description: 서명 불일치 / IP 미허용 / timestamp 만료
        '404':
          description: 미지원 provider

  # --- 호환성 공시 (§7.7) ---
  /.well-known/{env}/server-configuration.json:
    parameters:
    - name: env
      in: path
      required: true
      schema:
        type: string
    get:
      tags: [ compatibility ]
      summary: 런타임 버전·호환성 공시 (FR-COMPAT-02)
      description: 스키마·샘플은 design/well-known/ 참조. 버전 프리픽스 없이 표준 관례로 노출(§4.1.2-5)
      responses:
        '200':
          description: 서버 구성(호환성 매트릭스 공시)

  # --- 관리·감사 (§7.8·§7.9) ---
  /admin/v1/devices/{id}/kill:
    parameters:
    - $ref: '#/components/parameters/DeviceId'
    post:
      tags: [ admin ]
      summary: kill-switch(긴급 정지) (FR-FLEET-02)
      responses:
        '200':
          description: 즉시 정지됨

  /admin/v1/audit:
    get:
      tags: [ admin ]
      summary: 감사 로그 조회(경량) (FR-AUD-01)
      description: 그 외 관리자 조회(/admin/v1/*)는 LLD에서 확장. UI는 ③-C
      responses:
        '200':
          description: 감사 로그 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'

  # --- 라우팅·분배 지식 관리 (Console ③-C 호출) — DB가 보관하는 "어디로 분배" 정보 ---
  /admin/v1/org-mappings:
    get:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 조회 (webhook 라우팅 키)
      responses:
        '200':
          description: 매핑 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrgMapping'
    post:
      tags: [ admin ]
      summary: Org-ID↔ClinicID 매핑 **교정(override)** — 1차 입력은 클라이언트 온보딩(자가 등록), 본 API는 오설정 수정용 (FR-RGN-04)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgMapping'
      responses:
        '201':
          description: 등록됨

  /admin/v1/webhook-providers:
    get:
      tags: [ admin ]
      summary: Webhook provider 레지스트리 조회(유연 수신 config) (FR-WH-01/02)
      responses:
        '200':
          description: provider 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebhookProvider'
    post:
      tags: [ admin ]
      summary: Webhook provider 등록/갱신 — 경로·검증·라우팅 키 config (GW는 payload 비해석)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookProvider'
      responses:
        '201':
          description: 등록됨

  /admin/v1/upstreams:
    get:
      tags: [ admin ]
      summary: Vatech-Target → upstream 레지스트리 조회 (target-routed proxy, ADR-11)
      responses:
        '200':
          description: upstream 목록
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UpstreamRegistry'
    post:
      tags: [ admin ]
      summary: upstream(target_id→host·profile) 등록/갱신 — 신규 연동 = 1행
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpstreamRegistry'
      responses:
        '201':
          description: 등록됨

components:
  parameters:
    DeviceId:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:
    # 인증
    TokenRequest:
      type: object
      required: [ clientId, scope ]
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
          description: client_secret 또는 HW키 바인딩
        scope:
          type: string
    TokenResponse:
      type: object
      properties:
        accessToken:
          type: string
        expiresAt:
          type: integer
          format: int64
          description: Unix ms
        claims:
          type: object
          description: device_id·region·aud·TTL 강제 바인딩(§7.1.1)
    OneIdVerifyRequest:
      type: object
      required: [ oneIdToken ]
      properties:
        oneIdToken:
          type: string
    OneIdVerifyResponse:
      type: object
      properties:
        identity:
          type: object
          description: 사람/클리닉/사내 호출자 신원
        deviceBinding:
          type: string
          description: 디바이스 인증면과의 매핑

    # 온보딩
    EnrollStartRequest:
      type: object
      required: [ bootstrap ]
      properties:
        bootstrap:
          type: string
          description: 공장 토큰 / OOB 일회 코드
        serial:
          type: string
    EnrollChallenge:
      type: object
      properties:
        nonce:
          type: string
        expiresAt:
          type: integer
          format: int64
    EnrollCompleteRequest:
      type: object
      required: [ nonceSignature, fingerprint ]
      properties:
        nonceSignature:
          type: string
        fingerprint:
          type: string

    # 디바이스
    DeviceStatus:
      type: string
      enum: [ pending, active, suspended, revoked ]
    Device:
      type: object
      properties:
        deviceId:
          type: string
        fingerprint:
          type: string
        region:
          type: string
        status:
          $ref: '#/components/schemas/DeviceStatus'

    Credential:
      type: object
      description: 시크릿 참조만(KMS), 평문 미노출
      properties:
        deviceId:
          type: string
        clientId:
          type: string
        secretRef:
          type: string
        hwKeyBound:
          type: boolean

    # 리전
    RegionResolveResponse:
      type: object
      properties:
        region:
          type: string
        endpoint:
          type: string
        mappingVersion:
          type: integer
        sovereigntyPolicy:
          type: object

    # Webhook
    WebhookEnvelope:
      type: object
      description: >-
        GW가 검증·라우팅에 사용하는 최상위 공통 필드만 정의. 실제 이벤트 본문(payload)은 provider 외부 스키마이므로 opaque(object) 또는 외부 $ref로 둔다(§4.1.3-2).
      required: [ eventId, eventType ]
      properties:
        eventId:
          type: string
          description: 멱등 키(중복 수신 dedup, §7.6.4)
        eventType:
          type: string
          description: 이벤트 유형(분배 라우팅 키)
        payload:
          type: object
          description: provider별 외부 스키마(④/AXS 스냅샷 참조). GW 재정의 금지.
    WebhookAck:
      type: object
      properties:
        received:
          type: boolean
        eventId:
          type: string

    # 감사
    AuditLog:
      type: object
      description: append-only
      properties:
        ts:
          type: integer
          format: int64
        actor:
          type: string
        action:
          type: string
        result:
          type: string

    # 라우팅·분배 레지스트리 (DB가 보관하는 "어디로 분배" 지식)
    OrgMapping:
      type: object
      required: [ provider, externalOrgId, clinicId ]
      properties:
        provider: { type: string, description: '예 axs' }
        externalOrgId: { type: string, description: 'provider 식별자(예 AXS Organization-ID)' }
        clinicId: { type: string }
        mappingVersion: { type: integer }
      description: 'webhook 라우팅 키 — (provider, externalOrgId) → clinicId → region'
    WebhookProvider:
      type: object
      required: [ provider ]
      properties:
        provider: { type: string }
        inboundHost: { type: string, description: '1차 식별 키 — provider별 전용 수신 호스트(예 axs.webhook.gw.vatech.com). Host/SNI로 발신자 식별(§7.6.2). 와일드카드 DNS 미사용' }
        inboundRoute: { type: string, description: '등록 수신 경로(유연·예시, 확정 계약 아님)' }
        sigScheme: { type: string, description: 'HMAC 방식 — 인증(신뢰) 근거' }
        secretRef: { type: string, description: 'KMS 참조 — Host로 선택된 provider의 HMAC 시크릿' }
        sourceIpAllowlist: { type: array, items: { type: string, description: 'CIDR(예 203.0.113.0/24)' }, description: '허용 소스 CIDR 목록 — 옵션·방어심층(식별 용도 아님, Host가 대체). UI=③-C' }
        orgIdPath: { type: string, description: 'payload에서 externalOrgId 추출 경로' }
        enabled: { type: boolean }
      description: '유연 수신 config — 식별=inboundHost(Host/SNI), 인증=HMAC+timestamp(호스트명은 식별이지 인증 아님). GW는 발신자 검증·라우팅 키 추출만, payload 비해석(§4.1.3·§7.6.2)'
    UpstreamRegistry:
      type: object
      required: [ targetId, host, profile ]
      properties:
        targetId: { type: string, description: 'Vatech-Target 논리 ID(예 cleverspace, axs)' }
        host: { type: string, description: '내부 매핑 host(클라이언트 비노출)' }
        profile: { type: string, enum: [ internal, external ] }
        egressAllowlist: { type: array, items: { type: string } }
        connectTimeoutMs: { type: integer, description: 'TCP+TLS 핸드셰이크 타임아웃(짧게). 값 TBD(Appendix B #25, §7.5.4)' }
        responseTimeoutMs: { type: integer, description: 'upstream 응답 대기 타임아웃. 값 TBD' }
        totalDeadlineMs: { type: integer, description: '프록시 호출 총 예산 — GW deadline < 클라이언트 타임아웃 불변식. 값 TBD' }
        retryPolicy: { type: string, description: '재시도 정책 — 멱등 메서드/idempotency key + 연결·pre-response 타임아웃 한정(상한+백오프+budget). 비멱등 POST 금지(§7.5.4)' }
        circuitBreaker: { type: boolean, description: '서킷 브레이커 활성(연속 실패 시 503+Retry-After 빠른 실패). 임계·v1.0 범위 TBD' }
        enabled: { type: boolean }
      description: 'target-routed proxy 라우팅(ADR-11). 신규 upstream = 1행. 타임아웃·재시도·서킷은 per-upstream 복원력 설정(§7.5.4)'
    DeliveryChannel:
      type: object
      required: [ clinicId, channelType ]
      properties:
        clinicId: { type: string }
        channelType: { type: string, enum: [ mqtt_edge, http_cloud ] }
        endpoint: { type: string }
      description: 'webhook 분배 채널(Edge MQTT / Cloud HTTP, §7.6.5/6)'
    ClinicRegistration:
      type: object
      required: [ clinicId, region ]
      properties:
        clinicId: { type: string }
        region: { type: string, description: '클라이언트가 선택한 region(GW가 검증)' }
      description: '클리닉 온보딩 등록 — 운영자 OneID 인증 후. clinic_region_mapping 생성'
    OrgBinding:
      type: object
      required: [ provider, externalOrgId ]
      properties:
        provider: { type: string, description: '예 axs' }
        externalOrgId: { type: string, description: 'provider Org-ID(예 AXS Organization-ID)' }
      description: '외부 연동 연결 시 provider별 Org-ID 등록 → org_mapping(webhook 라우팅 키)'
    Region:
      type: object
      required: [ regionId, status ]
      properties:
        regionId: { type: string, description: '예 apne2(서울), use1(미주)' }
        displayName: { type: string }
        endpoint: { type: string }
        status: { type: string, enum: [ active, draining, planned ] }
        isDefault: { type: boolean }
      description: 'GW 운영 리전(GET /v1/regions). region_catalog 테이블 매핑'
    ProxyError:
      type: object
      required: [ errorCode, origin ]
      properties:
        errorCode:
          type: string
          enum: [ UPSTREAM_UNREACHABLE, UPSTREAM_TIMEOUT, UPSTREAM_UNAVAILABLE ]
          description: '502 연결 실패 / 504 deadline 초과 / 503 서킷·일시불가(§7.7.4)'
        origin:
          type: string
          enum: [ gateway ]
          description: 'GW가 생성한 오류임을 표시(헤더 Vatech-Error-Origin: gateway와 동일). upstream 자체 4xx/5xx는 본 스키마를 쓰지 않고 원응답을 verbatim 통과(origin: upstream)'
        targetId: { type: string, description: '실패한 Vatech-Target 논리 ID' }
        retryAfter: { type: integer, description: '503 시 재시도 권고(초)' }
        message: { type: string }
      description: 'GW 생성 프록시 오류 본문(502/503/504). upstream 응답은 verbatim 통과라 이 스키마 미적용(§7.5.4·§7.7.4)'
